@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

html {
  font-size: 34px; }

h1, h2, h3, h4, p, span {
  font-family: g2Font;
  line-height: 1.6em; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

input:focus, select:focus {
  outline: none; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .cart:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; }
    .cart:focus {
      outline: none; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .detail:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; }
    .detail:focus {
      outline: none; } }

.pste {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .pste:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .pste:hover {
      color: #fff;
      background-color: #00457b; }
    .pste:focus {
      outline: none; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .dimension:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; }
    .dimension:focus {
      outline: none; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .action:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; }
    .action:focus {
      outline: none; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .category:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; }
    .category:focus {
      outline: none; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .goToCustom:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #fff;
      background-color: #00457b; }
    .goToCustom:focus {
      outline: none; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .subscribe:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; }
    .subscribe:focus {
      outline: none; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .month:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; }
    .month:focus {
      outline: none; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  line-height: 40px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

@font-face {
  font-family: g2Regular;
  src: url(../GenJyuuGothicX-Regular.ttf); }

body {
  background-color: #fcde91; }

h1, h2, h3, h4, p, span {
  color: #737374; }

.clearfix {
  content: "";
  clear: both; }

.backstage {
  color: #737374;
  font-family: g2font; }
  .backstage #menu {
    width: 230px;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #076baf transparent transparent;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center; }
    .backstage #menu #logo {
      width: 70%;
      margin: auto;
      margin-bottom: 30px; }
    .backstage #menu #manager {
      color: deeppink;
      font-size: 16px;
      text-decoration: underline; }
    .backstage #menu #menuUl {
      font-size: 22px; }
      .backstage #menu #menuUl li {
        display: block;
        margin: 40px 0; }
        .backstage #menu #menuUl li a {
          color: #737374; }
          .backstage #menu #menuUl li a:hover {
            text-decoration: underline;
            color: #076baf; }
  .backstage #contentWrap {
    padding-top: 30px; }
    .backstage #contentWrap #content {
      overflow-x: auto;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      margin-left: 260px;
      margin-right: 30px; }
      .backstage #contentWrap #content button {
        margin-top: 10px; }
      .backstage #contentWrap #content table {
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 18px;
        width: 200%;
        text-align: center; }
        .backstage #contentWrap #content table tr:nth-child(even) {
          background-color: rgba(115, 115, 116, 0.1); }
        .backstage #contentWrap #content table th, .backstage #contentWrap #content table td {
          width: 110px;
          vertical-align: middle;
          padding: 4px; }
        .backstage #contentWrap #content table td {
          overflow: hidden;
          height: 40px;
          font-family: g2Regular; }
          .backstage #contentWrap #content table td a {
            color: #737374; }
        .backstage #contentWrap #content table #ingredient {
          width: 500px; }
      .backstage #contentWrap #content #pagination ul {
        display: flex;
        justify-content: center; }
        .backstage #contentWrap #content #pagination ul li {
          margin: 0 7.5px;
          font-size: 20px; }
          .backstage #contentWrap #content #pagination ul li a {
            color: #076baf;
            padding: 5px 10px;
            font-family: g2font; }
          .backstage #contentWrap #content #pagination ul li .nowLoc, .backstage #contentWrap #content #pagination ul li a:hover {
            color: #fff;
            background-color: #076baf; }
          .backstage #contentWrap #content #pagination ul li .fas {
            color: #fff; }
          .backstage #contentWrap #content #pagination ul li #next, .backstage #contentWrap #content #pagination ul li #last {
            background-color: #076baf;
            padding: 5px 10px; }
          .backstage #contentWrap #content #pagination ul li #last {
            border-radius: 8px 0 0 8px; }
          .backstage #contentWrap #content #pagination ul li #next {
            border-radius: 0 8px 8px 0; }
    .backstage #contentWrap footer {
      margin-left: 260px;
      padding: 20px 0;
      text-align: center; }

/*# sourceMappingURL=backstage.css.map */
