.section {
  width: 100%;
  height: 100vh; }

#section_3 .camera {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; }

#section_3 .boxBase {
  border: red 2px solid;
  width: 300px;
  height: 400px;
  position: relative;
  background-color: transparent;
  transform-origin: center center;
  transform: translateZ(-50px) rotateX(-30deg) rotateY(-30deg);
  transform-style: preserve-3d;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center; }

#section_3 .surface {
  background-color: #aaf;
  border: 1px dashed #0000004b;
  position: absolute;
  text-align: center;
  font-size: 60px;
  transform-origin: center center; }

#section_3 .surface_top {
  width: 300px;
  height: 100px;
  transform: rotateX(90deg) translateZ(200px);
  line-height: 100px; }

#section_3 .surface_down {
  width: 300px;
  height: 100px;
  transform: rotateX(-90deg) translateZ(200px);
  line-height: 100px; }

#section_3 .surface_font {
  width: 300px;
  height: 400px;
  transform: rotateY(0deg) translateZ(50px);
  line-height: 400px; }

#section_3 .surface_back {
  width: 300px;
  height: 400px;
  transform: rotateY(180deg) translateZ(50px);
  line-height: 400px; }

#section_3 .surface_left {
  width: 100px;
  height: 400px;
  transform: rotateY(-90deg) translateZ(150px);
  line-height: 400px; }

#section_3 .surface_right {
  width: 100px;
  height: 400px;
  transform: rotateY(90deg) translateZ(150px);
  line-height: 400px; }

#section_3 .surface_top {
  background-color: #fff; }

#section_3 .surface_down {
  background-color: #fff; }

#section_3 .surface_font {
  background-color: #faa; }

#section_3 .surface_back {
  background-color: #aaf; }

#section_3 .surface_left {
  background-color: #afa; }

#section_3 .surface_right {
  background-color: #afa; }

.section_15 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; }
  .section_15 .camera {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; }
  .section_15 .boxBase {
    border: red 2px solid;
    width: 400px;
    height: 100px;
    position: relative;
    background-color: transparent;
    transform-origin: center center;
    transform: translateZ(-100px) rotateX(-90deg) rotateY(-180deg);
    transform-style: preserve-3d;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section_15 .surface {
    background-color: #aaf;
    border: 1px dashed #0000004b;
    position: absolute;
    text-align: center;
    font-size: 60px;
    transform-origin: center center;
    transition: .5s; }
  .section_15 .surface_top {
    width: 400px;
    height: 200px;
    transform-origin: top center;
    transform: translate3d(0, 50px, -100px) rotateX(90deg);
    line-height: 200px;
    backface-visibility: hidden; }
  .section_15 .surface_top_inner {
    width: 400px;
    height: 200px;
    transform-origin: top center;
    transform: translate3d(0, 50px, -100px) rotateX(90deg) rotateY(180deg);
    line-height: 200px;
    backface-visibility: hidden; }
  .section_15 .surface_down {
    width: 400px;
    height: 200px;
    transform: rotateX(-90deg) translateZ(50px);
    line-height: 200px; }
  .section_15 .surface_font {
    width: 400px;
    height: 100px;
    transform: rotateY(0deg) translateZ(100px);
    line-height: 100px; }
  .section_15 .surface_back {
    width: 400px;
    height: 100px;
    transform: rotateY(180deg) translateZ(100px);
    line-height: 100px; }
  .section_15 .surface_left {
    width: 200px;
    height: 100px;
    transform: rotateY(-90deg) translateZ(200px);
    line-height: 100px; }
  .section_15 .surface_right {
    width: 200px;
    height: 100px;
    transform: rotateY(90deg) translateZ(200px);
    line-height: 100px; }
  .section_15 .surface_top {
    background-color: #076baf; }
  .section_15 .surface_down {
    background-color: #076baf; }
  .section_15 .surface_font {
    background-color: #fbc84a; }
  .section_15 .surface_back {
    background-color: #fbc84a; }
  .section_15 .surface_left {
    background-color: #fbc84a; }
  .section_15 .surface_right {
    background-color: #fbc84a; }
  .section_15 .surface {
    overflow: hidden; }
    .section_15 .surface .droped_img {
      display: block;
      cursor: move; }
      .section_15 .surface .droped_img.select {
        outline: #000000 dashed 10px;
        transition: 0.3s; }
    .section_15 .surface #a1 {
      position: absolute;
      top: 50%;
      left: 50%; }
  .section_15 .pics {
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section_15 .pics .pic {
      width: 100px;
      height: 100px;
      cursor: move; }
  .section_15 #btns15 {
    width: 25%;
    display: flex;
    justify-content: space-around; }
    .section_15 #btns15 .btn {
      width: 100px;
      height: 40px;
      margin: 0px 10px;
      padding: 10px;
      background-color: #ffa;
      text-align: center;
      box-shadow: 2px 2px 5px #0000004b;
      cursor: pointer; }

#ctrl_bar {
  position: fixed;
  z-index: 10;
  width: 90%;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-around; }
  #ctrl_bar .btn {
    width: 100px;
    height: 40px;
    margin: 0px 10px;
    padding: 10px;
    background-color: #ffa;
    text-align: center;
    box-shadow: 2px 2px 5px #0000004b;
    cursor: pointer; }
