.section_15 {
  display: flex;
  position: relative; }
  .section_15 .camera {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    perspective: 1000px; }
  .section_15 .boxBase {
    width: 250px;
    height: 100px;
    position: relative;
    background-color: transparent;
    transform-origin: center center;
    transform: translateZ(-75px) rotateX(-90deg) rotateY(-180deg);
    transform-style: preserve-3d;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section_15 .surface {
    background-color: #aaf;
    border: 1px dashed #0000004b;
    position: absolute;
    text-align: center;
    font-size: 60px;
    transform-origin: center center;
    transition: .5s; }
  .section_15 .surface_top {
    width: 250px;
    height: 150px;
    transform-origin: top center;
    transform: translate3d(0, 25px, -75px) rotateX(90deg);
    line-height: 150px;
    backface-visibility: hidden; }
  .section_15 .surface_top_inner {
    width: 250px;
    height: 150px;
    transform-origin: top center;
    transform: translate3d(0, 25px, -75px) rotateX(90deg) rotateY(180deg);
    line-height: 150px;
    backface-visibility: hidden; }
  .section_15 .surface_down {
    width: 250px;
    height: 150px;
    transform: rotateX(-90deg) translateZ(50px);
    line-height: 150px; }
  .section_15 .surface_font {
    width: 250px;
    height: 100px;
    transform: rotateY(0deg) translateZ(75px);
    line-height: 100px; }
  .section_15 .surface_back {
    width: 250px;
    height: 100px;
    transform: rotateY(180deg) translateZ(75px);
    line-height: 100px; }
  .section_15 .surface_left {
    width: 150px;
    height: 100px;
    transform: rotateY(-90deg) translateZ(125px);
    line-height: 100px; }
  .section_15 .surface_right {
    width: 150px;
    height: 100px;
    transform: rotateY(90deg) translateZ(125px);
    line-height: 100px; }
  .section_15 .surface_top {
    background-color: #076baf; }
  .section_15 .surface_down {
    background-color: #076baf; }
  .section_15 .surface_font {
    background-color: #fbc84a; }
  .section_15 .surface_back {
    background-color: #fbc84a; }
  .section_15 .surface_left {
    background-color: #fbc84a; }
  .section_15 .surface_right {
    background-color: #fbc84a; }
  .section_15 .surface {
    overflow: hidden; }
    .section_15 .surface .droped_img {
      display: block;
      cursor: move; }
      .section_15 .surface .droped_img.select {
        outline: #000000 dashed 10px;
        transition: 0.3s; }
    .section_15 .surface #a1 {
      position: absolute;
      top: 50%;
      left: 50%; }
  .section_15 .pics {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section_15 .pics .pic {
      width: 50px;
      height: 50px;
      cursor: move; }
  .section_15 #btns15 {
    display: flex;
    justify-content: space-around; }
    .section_15 #btns15 .btn {
      width: 100px;
      height: 40px;
      margin: 0px 10px;
      padding: 10px;
      background-color: #ffa;
      text-align: center;
      box-shadow: 2px 2px 5px #0000004b;
      cursor: pointer; }

.leftBox {
  width: 500px; }
  .leftBox #ctrl_bar {
    position: absolute;
    z-index: 10; }
    .leftBox #ctrl_bar .btn {
      padding: 10px;
      background-color: #ffa;
      text-align: center;
      box-shadow: 2px 2px 5px #0000004b;
      cursor: pointer; }
    .leftBox #ctrl_bar .showBox {
      width: 100%;
      height: 420px; }
