@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Medium.ttf); }

h1, h2, h3, h4, p, span {
  font-family: g2Font;
  line-height: 1.6em; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #737374;
  background-color: #fbe5dd;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #737374;
      background-color: #fca8b7; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

body {
  background-color: #b8f1ed;
  width: 100%;
  height: 100%; }

.index {
  width: 100%;
  height: 100%; }
  .index section {
    width: 100%;
    position: relative; }
    .index section .worldMap {
      overflow: hidden;
      max-width: 1200px;
      margin: auto;
      position: relative; }
      .index section .worldMap > img {
        width: 900px;
        min-width: 600px;
        margin: 150px; }
      .index section .worldMap .countryMap .countryImg {
        width: 50px;
        position: absolute; }
        .index section .worldMap .countryMap .countryImg img {
          position: relative;
          z-index: 1; }
        .index section .worldMap .countryMap .countryImg .countryInfo {
          transition: 1s;
          display: none;
          position: relative;
          z-index: 2;
          width: 500px;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 10px; }
          .index section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader {
            display: flex;
            align-items: center;
            justify-content: space-around; }
            .index section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoRadar {
              height: 180px;
              width: 180px; }
            .index section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoImg {
              width: 130px; }
            .index section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoStar {
              width: 130px; }
              .index section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoStar li {
                font-size: 22px;
                font-family: g2Font;
                color: #737374; }
          .index section .worldMap .countryMap .countryImg .countryInfo .countryInfosection {
            color: #737374;
            width: 400px;
            margin: auto; }
            .index section .worldMap .countryMap .countryImg .countryInfo .countryInfosection h2 {
              text-align: center; }
          .index section .worldMap .countryMap .countryImg .countryInfo .countryInfofooter {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0; }
            .index section .worldMap .countryMap .countryImg .countryInfo .countryInfofooter .countryInfoPrice {
              color: #737374; }
              .index section .worldMap .countryMap .countryImg .countryInfo .countryInfofooter .countryInfoPrice span {
                font-size: 28px; }
      .index section .worldMap .countryMap .countryImg:hover .countryInfo {
        display: block; }
      .index section .worldMap .countryMap .countryImg:before {
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 5px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px 30px #fff;
        opacity: .5;
        z-index: 1;
        animation: aaa 1.5s linear infinite alternate; }
      .index section .worldMap .countryMap > :nth-child(1) {
        top: 310px;
        left: 310px; }
      .index section .worldMap .countryMap > :nth-child(2) {
        top: 290px;
        left: 610px; }
      .index section .worldMap .countryMap > :nth-child(3) {
        top: 510px;
        left: 380px; }
      .index section .worldMap .countryMap > :nth-child(4) {
        top: 150px;
        left: 450px; }
      .index section .worldMap .countryMap > :nth-child(5) {
        top: 420px;
        left: 560px; }
      .index section .worldMap .countryMap > :nth-child(6) {
        top: 180px;
        left: 1000px; }
      .index section .worldMap .countryMap > :nth-child(7) {
        top: 330px;
        left: 950px; }
      .index section .worldMap .countryMap > :nth-child(8) {
        top: 540px;
        left: 910px; }
      .index section .worldMap #container {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0; }
      .index section .worldMap .snackMap .snackImg {
        width: 100px;
        position: absolute; }
      .index section .worldMap .snackMap > :nth-child(1) {
        top: 140px;
        width: 150px;
        left: 160px; }
      .index section .worldMap .snackMap > :nth-child(2) {
        top: 170px;
        left: 680px; }
      .index section .worldMap .snackMap > :nth-child(3) {
        top: 590px;
        left: 220px;
        width: 170px; }
      .index section .worldMap .snackMap > :nth-child(4) {
        top: 100px;
        left: 500px;
        width: 90px; }
      .index section .worldMap .snackMap > :nth-child(5) {
        top: 520px;
        left: 560px;
        width: 90px; }
      .index section .worldMap .snackMap > :nth-child(6) {
        top: 90px;
        left: 910px;
        width: 90px; }
      .index section .worldMap .snackMap > :nth-child(7) {
        top: 320px;
        left: 1000px; }
      .index section .worldMap .snackMap > :nth-child(8) {
        top: 500px;
        left: 960px;
        width: 150px; }

@keyframes aaa {
  0% {
    transform: scale(0.6); }
  100% {
    transform: scale(0.8); } }
    .index section .cloudMap .cloudImg {
      width: 100px;
      position: absolute; }
    .index section .cloudMap > :nth-child(1) {
      top: 50px;
      left: 80px;
      width: 50px; }
    .index section .cloudMap > :nth-child(2) {
      top: 170px;
      left: 100px; }
    .index section .cloudMap > :nth-child(3) {
      top: 70px;
      left: 250px; }
    .index section .cloudMap > :nth-child(4) {
      top: 50px;
      right: 80px; }
    .index section .cloudMap > :nth-child(5) {
      top: 170px;
      right: 100px;
      width: 50px; }
    .index section .cloudMap > :nth-child(6) {
      top: 70px;
      right: 250px;
      width: 50px; }
    .index section .balloonMap .ballImg {
      width: 80px;
      position: absolute; }
    .index section .balloonMap > :nth-child(1) {
      top: 430px;
      left: 110px;
      animation: bbb 3s linear infinite alternate; }
    .index section .balloonMap > :nth-child(2) {
      top: 370px;
      right: 30px;
      animation: bbb 2s infinite alternate-reverse; }

@keyframes bbb {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100px); } }
    @media screen and (min-width: 768px) {
      .index section .worldMap {
        overflow: unset; } }
