@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

html {
  font-size: 34px; }

h1, h2, h3, h4, p, span {
  font-family: g2Font;
  line-height: 1.6em; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

input:focus, select:focus {
  outline: none; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .cart:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; }
    .cart:focus {
      outline: none; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .detail:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; }
    .detail:focus {
      outline: none; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .step:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; }
    .step:focus {
      outline: none; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .dimension:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; }
    .dimension:focus {
      outline: none; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .action:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; }
    .action:focus {
      outline: none; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .category:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; }
    .category:focus {
      outline: none; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .goToCustom:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #fff;
      background-color: #00457b; }
    .goToCustom:focus {
      outline: none; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .subscribe:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; }
    .subscribe:focus {
      outline: none; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .month:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; }
    .month:focus {
      outline: none; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  line-height: 40px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

body {
  background-color: #b8f1ed;
  width: 100%;
  height: 100%; }

.index {
  width: 100%;
  height: 100%; }
  .index .search {
    position: relative;
    max-width: 760px;
    margin: auto;
    margin-top: 190px;
    text-align: center;
    z-index: 9; }
    .index .search img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: none; }
      @media only screen and (min-width: 768px) {
        .index .search img {
          display: inline-block; } }
    .index .search select, .index .search input {
      background-color: rgba(255, 255, 255, 0.97);
      border: transparent;
      border-radius: 10px; }
    .index .search select {
      width: 25%;
      margin-right: 5%;
      font-size: 16px;
      padding: 2px 4px 6px 4px; }
      @media only screen and (min-width: 768px) {
        .index .search select {
          width: 16%;
          position: relative;
          top: -5px; } }
    .index .search input {
      position: relative;
      font-size: 14px;
      top: -4px;
      padding: 4px 0px 4px 6px; }
    .index .search i {
      font-size: 18px;
      vertical-align: middle; }
  .index .section {
    width: 100%;
    height: 670px;
    position: relative;
    margin: 50px 0; }
    .index .section .worldMap {
      max-width: 1200px;
      position: relative;
      margin: auto; }
      .index .section .worldMap .countryMap {
        height: 600px;
        width: 1200px;
        margin: 70px auto;
        position: absolute;
        background-image: url(../images/index/map.svg);
        background-size: 800px;
        background-repeat: no-repeat;
        background-position-x: center; }
        .index .section .worldMap .countryMap .countryImg {
          width: 50px;
          position: absolute; }
          .index .section .worldMap .countryMap .countryImg img {
            position: relative;
            z-index: 1; }
          .index .section .worldMap .countryMap .countryImg .countryInfo {
            transition: 1s;
            display: none;
            position: relative;
            z-index: 2;
            width: 500px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            transform: translateX(-220px); }
            .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader {
              display: flex;
              align-items: center;
              justify-content: space-around; }
              .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoRadar {
                height: 180px;
                width: 180px; }
              .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoImg {
                width: 130px; }
              .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoStar {
                width: 130px; }
                .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfoHeader .countryInfoStar li {
                  font-size: 22px;
                  font-family: g2Font;
                  color: #737374; }
            .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfosection {
              color: #737374;
              width: 400px;
              margin: auto; }
              .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfosection h2 {
                text-align: center; }
            .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfofooter {
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 20px 0; }
              .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfofooter .countryInfoPrice {
                color: #737374; }
                .index .section .worldMap .countryMap .countryImg .countryInfo .countryInfofooter .countryInfoPrice span {
                  font-size: 28px; }
        .index .section .worldMap .countryMap .countryImg:hover .countryInfo {
          display: block; }
        .index .section .worldMap .countryMap .countryImg:before {
          content: '';
          display: block;
          position: absolute;
          width: 40px;
          height: 40px;
          top: 10px;
          left: 5px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0 10px 30px #fff;
          opacity: .5;
          z-index: 1;
          animation: aaa 1.5s linear infinite alternate; }
        .index .section .worldMap .countryMap > :nth-child(1) {
          top: 140px;
          left: 330px; }
        .index .section .worldMap .countryMap > :nth-child(2) {
          top: 110px;
          left: 610px; }
        .index .section .worldMap .countryMap > :nth-child(3) {
          top: 300px;
          left: 390px; }
        .index .section .worldMap .countryMap > :nth-child(4) {
          top: 0px;
          left: 460px; }
        .index .section .worldMap .countryMap > :nth-child(5) {
          top: 240px;
          left: 560px; }
        .index .section .worldMap .countryMap > :nth-child(6) {
          top: 20px;
          left: 950px; }
        .index .section .worldMap .countryMap > :nth-child(7) {
          top: 160px;
          left: 900px; }
        .index .section .worldMap .countryMap > :nth-child(8) {
          top: 350px;
          left: 870px; }
      .index .section .worldMap #container {
        position: absolute;
        height: 600px;
        width: 100%;
        top: 0;
        left: 0; }
      .index .section .worldMap .snackMap {
        margin: auto;
        transition: 2s; }
        .index .section .worldMap .snackMap .snackImg {
          width: 100px;
          position: absolute; }
        .index .section .worldMap .snackMap > :nth-child(1) {
          top: 120px;
          width: 150px;
          left: 150px; }
        .index .section .worldMap .snackMap > :nth-child(2) {
          top: 70px;
          left: 680px; }
        .index .section .worldMap .snackMap > :nth-child(3) {
          top: 460px;
          left: 250px;
          width: 170px; }
        .index .section .worldMap .snackMap > :nth-child(4) {
          top: 30px;
          left: 510px;
          width: 90px; }
        .index .section .worldMap .snackMap > :nth-child(5) {
          top: 400px;
          left: 580px;
          width: 90px; }
        .index .section .worldMap .snackMap > :nth-child(6) {
          top: 10px;
          left: 860px;
          width: 90px; }
        .index .section .worldMap .snackMap > :nth-child(7) {
          top: 210px;
          left: 960px; }
        .index .section .worldMap .snackMap > :nth-child(8) {
          top: 380px;
          left: 920px;
          width: 150px; }

@keyframes aaa {
  0% {
    transform: scale(0.6); }
  100% {
    transform: scale(0.8); } }
    .index .section .cloudMap .cloudImg {
      width: 100px;
      position: absolute; }
    .index .section .cloudMap > :nth-child(1) {
      top: -140px;
      left: 80px;
      width: 50px; }
    .index .section .cloudMap > :nth-child(2) {
      top: -20px;
      left: 100px; }
    .index .section .cloudMap > :nth-child(3) {
      top: -120px;
      left: 250px; }
    .index .section .cloudMap > :nth-child(4) {
      top: -140px;
      right: 80px; }
    .index .section .cloudMap > :nth-child(5) {
      top: -20px;
      right: 100px;
      width: 50px; }
    .index .section .cloudMap > :nth-child(6) {
      top: -120px;
      right: 250px;
      width: 50px; }
    .index .section .balloonMap .ballImg {
      width: 80px;
      position: absolute; }
    .index .section .balloonMap > :nth-child(1) {
      top: 430px;
      left: 110px;
      animation: bbb 3s infinite alternate; }
    .index .section .balloonMap > :nth-child(2) {
      top: 370px;
      right: 30px;
      animation: bbb 2s infinite alternate-reverse; }

@keyframes bbb {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100px); } }
    @media screen and (min-width: 768px) {
      .index .section .worldMap {
        overflow: unset; } }
  .index .section_12 {
    background-image: url(../images/index/cheese.png);
    background-repeat: no-repeat;
    height: 1340px;
    background-position-y: 60px;
    margin: 20px auto;
    position: relative; }
    .index .section_12 .LeaderboardTitle {
      background-image: url(../images/index/title-cloud.png);
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      height: 160px;
      position: absolute;
      top: 240px;
      left: 0;
      right: 0; }
      .index .section_12 .LeaderboardTitle h2 {
        line-height: 160px;
        color: #076baf; }
      .index .section_12 .LeaderboardTitle #celebration {
        position: absolute;
        margin: auto;
        top: -140px;
        right: 0;
        left: 0; }
    .index .section_12 .LeaderboardCount {
      width: 1200px;
      height: 700px;
      margin: auto;
      display: flex;
      justify-content: space-around; }
      .index .section_12 .LeaderboardCount .LeaderboardNo2 {
        align-self: center; }
      .index .section_12 .LeaderboardCount .LeaderboardNo3 {
        align-self: flex-end; }
      .index .section_12 .LeaderboardCount .Crown {
        width: 100px;
        margin: auto;
        position: relative; }
        .index .section_12 .LeaderboardCount .Crown::before {
          content: '';
          display: block;
          width: 200px;
          height: 200px;
          position: absolute;
          z-index: -1;
          top: -50px;
          left: -50px;
          right: 0;
          margin: auto;
          background-size: cover;
          background-image: url(../images/rankBoard/glow.png);
          animation: rollGlow 5s infinite linear; }
        .index .section_12 .LeaderboardCount .Crown h2 {
          color: #fff;
          position: absolute;
          text-align: center;
          top: 20px;
          right: 0;
          left: 0; }

@keyframes rollGlow {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
      .index .section_12 .LeaderboardCount .No2 {
        background-image: url(../images/index/blue-pack.png);
        background-repeat: no-repeat;
        background-size: 280px; }
        .index .section_12 .LeaderboardCount .No2 .commodityImg img {
          width: 31%;
          padding-top: 30px; }
      .index .section_12 .LeaderboardCount .No1 {
        background-image: url(../images/index/red-pack.png);
        background-repeat: no-repeat;
        background-size: 280px; }
        .index .section_12 .LeaderboardCount .No1 .commodityImg img {
          width: 36%;
          padding-top: 30px; }
      .index .section_12 .LeaderboardCount .No3 {
        background-image: url(../images/index/green-pack.png);
        background-repeat: no-repeat;
        background-size: 280px;
        align-self: end; }
        .index .section_12 .LeaderboardCount .No3 .commodityImg img {
          width: 40%;
          padding-top: 30px; }
      .index .section_12 .LeaderboardCount .Leaderboarditem {
        width: 280px;
        height: 480px;
        position: relative; }
        .index .section_12 .LeaderboardCount .Leaderboarditem .LeaderboarCountry {
          width: 40px;
          padding-top: 30px;
          position: absolute;
          right: 15px; }
        .index .section_12 .LeaderboardCount .Leaderboarditem .commodity {
          text-align: center;
          padding: 50px 0; }
          .index .section_12 .LeaderboardCount .Leaderboarditem .commodity .commodityImg {
            margin: auto;
            width: 280px;
            height: 220px; }
          .index .section_12 .LeaderboardCount .Leaderboarditem .commodity .cart {
            margin: 5px 0; }
          .index .section_12 .LeaderboardCount .Leaderboarditem .commodity .commodityTitle {
            color: #737374; }
        .index .section_12 .LeaderboardCount .Leaderboarditem .commodityPrice p {
          font-size: 22px;
          color: #737374; }
        .index .section_12 .LeaderboardCount .Leaderboarditem .commodityStar {
          width: 150px;
          margin: auto; }
    .index .section_12 .LeaderboardIcon .lbIconImg {
      position: absolute; }
    .index .section_12 .LeaderboardIcon > :nth-child(1) {
      bottom: 65%;
      left: 22%;
      animation: float 1.8s linear infinite alternate-reverse; }
    .index .section_12 .LeaderboardIcon > :nth-child(2) {
      bottom: 51%;
      left: 4%;
      animation: float 2s linear infinite alternate; }
    .index .section_12 .LeaderboardIcon > :nth-child(3) {
      bottom: 30%;
      left: 8%;
      animation: float 1.4s linear infinite alternate-reverse; }
    .index .section_12 .LeaderboardIcon > :nth-child(4) {
      bottom: 56%;
      left: 80%;
      animation: float 1.2s linear infinite alternate; }
    .index .section_12 .LeaderboardIcon > :nth-child(5) {
      bottom: 15%;
      left: 40%;
      animation: float 1.6s linear infinite alternate-reverse; }
    .index .section_12 .LeaderboardIcon > :nth-child(6) {
      bottom: 13%;
      left: 90%;
      animation: float 1s linear infinite alternate; }
    .index .section_12 .LeaderboardIcon > :nth-child(7) {
      bottom: 43%;
      left: 95%;
      animation: float 1.4s linear infinite alternate-reverse; }
    .index .section_12 .LeaderboardIcon > :nth-child(8) {
      bottom: 32%;
      left: 83%;
      animation: float 1.8s linear infinite alternate; }
    .index .section_12 .LeaderboardIcon > :nth-child(9) {
      bottom: 40%;
      left: 58%;
      animation: float 1.6s linear infinite alternate-reverse; }

@keyframes float {
  0% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }
    .index .section_12 .LeaderboardSort {
      margin: 80px;
      text-align: center; }
      .index .section_12 .LeaderboardSort :nth-child(2),
      .index .section_12 .LeaderboardSort :nth-child(3),
      .index .section_12 .LeaderboardSort :nth-child(4) {
        border-radius: 0px; }
      .index .section_12 .LeaderboardSort :nth-child(1) {
        border-radius: 10px 0 0 10px; }
      .index .section_12 .LeaderboardSort :nth-child(5) {
        border-radius: 0 10px 10px 0; }
  .index .customized {
    background-image: url(../images/index/background_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative; }
    .index .customized .waveTop {
      position: absolute;
      top: -80px;
      left: 0;
      width: 1920px; }
    .index .customized .waveBottom {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 1920px; }
    .index .customized .LeaderboardTitle {
      background-image: url(../images/index/title-cloud.png);
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      height: 300px;
      padding: 110px 0;
      position: relative; }
      .index .customized .LeaderboardTitle h2 {
        line-height: 70px;
        color: #076baf; }
    .index .customized .customizedCount {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      height: 500px; }
      .index .customized .customizedCount #roulette {
        background-color: #fff;
        border: 2px solid #ddd;
        width: 500px;
        padding-bottom: 500px;
        border-radius: 50%;
        position: absolute;
        transition: 1s;
        left: -250px;
        top: 0;
        z-index: 5; }
        .index .customized .customizedCount #roulette .color {
          width: 18%;
          height: 18%;
          border-radius: 50%;
          position: absolute; }
        .index .customized .customizedCount #roulette #red {
          background-color: #ff5050;
          top: 4%;
          left: 41%; }
        .index .customized .customizedCount #roulette #orange {
          background-color: #ff6600;
          top: 16%;
          left: 67%; }
        .index .customized .customizedCount #roulette #yellow {
          background-color: #ffff00;
          top: 41%;
          left: 78%; }
        .index .customized .customizedCount #roulette #green {
          background-color: #99ff66;
          top: 66%;
          left: 67%; }
        .index .customized .customizedCount #roulette #blue {
          background-color: #66ccff;
          top: 78%;
          left: 41%; }
        .index .customized .customizedCount #roulette #indigo {
          background-color: #000066;
          top: 66%;
          left: 15%; }
        .index .customized .customizedCount #roulette #violet {
          background-color: #cc33ff;
          top: 41%;
          left: 4%; }
        .index .customized .customizedCount #roulette #black {
          background-color: #000;
          top: 16%;
          left: 15%; }
      .index .customized .customizedCount .ctCard {
        width: 500px; }
        .index .customized .customizedCount .ctCard .ctIntroduce {
          background-color: #fff;
          border-radius: 10px;
          padding: 20px;
          text-align: center;
          color: #737374;
          letter-spacing: 5px;
          margin: 20px; }
          .index .customized .customizedCount .ctCard .ctIntroduce p {
            font-size: 18px;
            padding-top: 10px; }
        .index .customized .customizedCount .ctCard .ctBtns {
          background-color: #fff;
          border-radius: 10px;
          padding: 20px;
          text-align: center;
          color: #737374;
          letter-spacing: 5px;
          margin: 20px; }
          .index .customized .customizedCount .ctCard .ctBtns .ctBtn {
            padding: 20px 0; }
          .index .customized .customizedCount .ctCard .ctBtns .ctBtnGo {
            padding: 10px; }
  .index .preOrder {
    width: 100%; }
    .index .preOrder .poTitle {
      background-image: url(../images/index/title-cloud.png);
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      height: 160px;
      padding-top: 50px;
      position: relative;
      z-index: 1; }
      .index .preOrder .poTitle h2 {
        line-height: 50px;
        color: #076baf; }
    .index .preOrder .poCount {
      width: 100%;
      height: 900px;
      margin: auto;
      overflow: hidden;
      border-radius: 50% / 50%;
      background-color: #b8f1ed;
      position: relative;
      top: -80px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .index .preOrder .poCount .poray {
        position: absolute;
        transform: scale(2.5);
        margin: auto;
        height: 100%;
        left: 0;
        opacity: 0.5;
        z-index: 0;
        right: 0; }
        .index .preOrder .poCount .poray ul {
          position: absolute;
          left: -1em;
          right: -1em;
          top: -1em;
          bottom: -1em;
          margin: auto;
          padding: 0;
          width: 0;
          height: 0;
          list-style: none;
          animation: 200s rotate infinite linear; }
          .index .preOrder .poCount .poray ul li,
          .index .preOrder .poCount .poray ul li:before,
          .index .preOrder .poCount .poray ul li:after {
            position: absolute;
            border: 0 solid transparent;
            border-width: 1.2em 20em;
            border-color: transparent #eaab8c;
            width: 0;
            height: 0;
            font-size: 20px; }
          .index .preOrder .poCount .poray ul li {
            left: -20em;
            top: 50%;
            margin-top: -1.2em;
            transform: rotate(0.1deg); }
          .index .preOrder .poCount .poray ul li:before,
          .index .preOrder .poCount .poray ul li:after {
            left: -20em;
            top: -1.2em;
            display: block;
            content: ""; }
          .index .preOrder .poCount .poray ul li:before {
            transform: rotate(60deg); }
          .index .preOrder .poCount .poray ul li:after {
            transform: rotate(-60deg); }
          .index .preOrder .poCount .poray ul li:nth-child(2) {
            transform: rotate(15deg); }
          .index .preOrder .poCount .poray ul li:nth-child(3) {
            transform: rotate(30deg); }
          .index .preOrder .poCount .poray ul li:nth-child(4) {
            transform: rotate(45deg); }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
      .index .preOrder .poCount .poCard {
        width: 23%;
        position: relative;
        color: #737374;
        min-width: 420px; }
        .index .preOrder .poCount .poCard .poTrait {
          padding: 10px;
          text-align: center;
          background-color: #fff;
          border-radius: 10px; }
          .index .preOrder .poCount .poCard .poTrait h2 {
            padding: 10px; }
          .index .preOrder .poCount .poCard .poTrait .traitCount {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: auto; }
            .index .preOrder .poCount .poCard .poTrait .traitCount p {
              border: 2px solid #076baf;
              padding: 23px 0;
              margin: 10px;
              width: 100px;
              border-radius: 50%;
              vertical-align: middle; }
          .index .preOrder .poCount .poCard .poTrait .traitGo {
            padding: 20px; }
        .index .preOrder .poCount .poCard .poInside p {
          padding: 10px;
          color: #076baf; }
        .index .preOrder .poCount .poCard .poInside .insideBtn {
          text-align: right; }
          .index .preOrder .poCount .poCard .poInside .insideBtn .month {
            box-shadow: 6px 6px 0 0 #00457b;
            margin: 0 10px; }
  .index .igShare {
    width: 100%;
    padding: 50px 0; }
    .index .igShare .igTitle {
      background-image: url(../images/index/title-cloud.png);
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      height: 160px;
      padding: 50px 0;
      position: relative;
      z-index: 1; }
      .index .igShare .igTitle h2 {
        line-height: 50px;
        color: #076baf; }
    .index .igShare .igCount {
      width: 100%;
      padding: 60px 0;
      position: relative; }
      .index .igShare .igCount .chocoGroup {
        color: #737374;
        width: 70%;
        margin: auto; }
        .index .igShare .igCount .chocoGroup img {
          width: 98.9%; }
        .index .igShare .igCount .chocoGroup .igImg img {
          width: 11%;
          position: absolute; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(1) {
          top: 3.2%;
          left: 15.4%;
          width: 25.6%; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(2) {
          top: 70.3%;
          left: 15.7%; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(3) {
          top: 70.3%;
          left: 29.8%; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(4) {
          top: 70.3%;
          left: 43.9%; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(5) {
          top: 70.3%;
          left: 58%; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(6) {
          top: 70.3%;
          left: 72.2%; }
        .index .igShare .igCount .chocoGroup .igImg > :nth-child(7) {
          top: 70.3%;
          left: 86.2%; }
        .index .igShare .igCount .chocoGroup .igName {
          width: 11%;
          height: 26.5%;
          background-color: #fff;
          border-radius: 10px;
          position: absolute;
          text-align: center;
          top: 3.5%;
          padding: 4% 0;
          left: 43.9%; }
          .index .igShare .igCount .chocoGroup .igName h4 {
            font-size: 1.4vw; }
        .index .igShare .igCount .chocoGroup .igText {
          width: 39%;
          height: 26%;
          background-color: #fff;
          border-radius: 10px;
          position: absolute;
          text-align: center;
          top: 37%;
          padding: 10px;
          left: 44%;
          text-align: left;
          overflow: hidden; }
          .index .igShare .igCount .chocoGroup .igText p {
            font-size: 1.2vw; }
            .index .igShare .igCount .chocoGroup .igText p span {
              font-size: 1.2vw; }
          .index .igShare .igCount .chocoGroup .igText span {
            color: #076baf;
            font-size: 1.1vw; }
      .index .igShare .igCount .chocoPack {
        width: 17.5%;
        position: absolute;
        left: 0;
        top: 45px; }
  .index .vmMap {
    width: 100%;
    padding: 60px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .index .vmMap .vmCount {
      margin: 0 auto;
      width: 40%; }
      .index .vmMap .vmCount .vmTitle {
        background-image: url(../images/index/title-cloud.png);
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        height: 160px;
        padding: 50px 0;
        position: relative;
        z-index: 1;
        margin-bottom: 20%; }
        .index .vmMap .vmCount .vmTitle h2 {
          line-height: 50px;
          color: #076baf; }
      .index .vmMap .vmCount .vmInfo .vmLocate {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-around; }
        .index .vmMap .vmCount .vmInfo .vmLocate .locateImg {
          width: 7%;
          position: relative;
          animation: float 1s linear infinite alternate; }
          .index .vmMap .vmCount .vmInfo .vmLocate .locateImg::before {
            content: '';
            display: block;
            background-color: #fbc84a;
            width: 80%;
            position: absolute;
            top: 5.5px;
            left: 5.5px;
            padding-bottom: 80%;
            border-radius: 50%;
            opacity: 0; }
        .index .vmMap .vmCount .vmInfo .vmLocate .locateImg:hover::before {
          opacity: 1;
          transition: .5s; }
        .index .vmMap .vmCount .vmInfo .vmLocate img {
          width: 100%;
          margin: 2% 12%;
          margin: auto; }
      .index .vmMap .vmCount .vmInfo .vmImg {
        width: 100%;
        text-align: center; }
        .index .vmMap .vmCount .vmInfo .vmImg img {
          width: 18%;
          margin: 2% 7% 0;
          position: relative; }
        .index .vmMap .vmCount .vmInfo .vmImg img:hover {
          animation: shake 0.1s infinite alternate; }

@keyframes shake {
  0% {
    transform: translateX(-5px); }
  100% {
    transform: translateX(5px); } }
    .index .vmMap #mapSearch {
      width: 55%;
      padding: 7.1% 3% 0;
      position: relative; }
      .index .vmMap #mapSearch #map {
        width: 100%;
        padding-bottom: 60%; }
      .index .vmMap #mapSearch .mapRoof {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
  .index .footer #floor {
    position: relative;
    text-align: center; }
    .index .footer #floor #copy {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 1.2vw; }
