body {
  background-color: #b8f1ed; }

.memWrap {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: auto; }
  .memWrap form {
    width: 85%;
    height: auto;
    padding: 45px;
    background-color: #fff;
    border-radius: 10px; }
    .memWrap form .col-1 {
      width: 100%;
      height: 100px; }
      .memWrap form .col-1 tr {
        width: 100%;
        height: 80px; }
        .memWrap form .col-1 tr td {
          text-align: center;
          padding-top: 1%; }
          .memWrap form .col-1 tr td div {
            margin: auto;
            margin-top: 5%;
            width: 30%;
            border: 2px dotted #076baf;
            border-radius: 50%; }
            .memWrap form .col-1 tr td div img {
              width: 80%;
              padding-top: 2%; }
          .memWrap form .col-1 tr td label p {
            font-family: g2Font;
            font-size: 22px;
            padding: 10px;
            color: #076baf; }
            .memWrap form .col-1 tr td label p img {
              width: 3%;
              vertical-align: middle;
              margin-left: 5px; }
          .memWrap form .col-1 tr td label input {
            width: 50%;
            padding-top: 5px;
            display: none; }
            .memWrap form .col-1 tr td label input:focus {
              outline: none; }
    .memWrap form .col-2 {
      width: 100%;
      padding: 30px; }
      .memWrap form .col-2 tr {
        width: 100%; }
        .memWrap form .col-2 tr td {
          padding: 2% 3%;
          text-align: center; }
          .memWrap form .col-2 tr td p {
            font-family: g2Font;
            color: #076baf;
            font-size: 22px; }
            .memWrap form .col-2 tr td p input {
              color: #076baf;
              width: 80px;
              background-color: transparent;
              border: 1px solid #fff;
              font-family: g2Font;
              font-size: 16px; }
              .memWrap form .col-2 tr td p input:focus {
                outline: none; }
            .memWrap form .col-2 tr td p img {
              width: 3%;
              vertical-align: unset; }
  .memWrap .col-3 {
    width: 100%; }
    .memWrap .col-3 tr td {
      padding: 2% 3%;
      text-align: center;
      height: 35px; }
      .memWrap .col-3 tr td p {
        font-family: g2Font;
        font-size: 22px;
        color: #076baf;
        line-height: 1.6; }
        .memWrap .col-3 tr td p span {
          font-size: 16px;
          font-family: g2Font; }
    .memWrap .col-3 tr:last-child span {
      font-size: 16px;
      color: #f00;
      line-height: 1.6;
      font-family: g2Font; }

.itemTab2 {
  max-width: 1200px;
  width: 100%;
  margin: 10% auto; }
  .itemTab2 .tabContainer .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .itemTab2 .tabContainer .tabs .tablinks {
      margin: 3%; }
      .itemTab2 .tabContainer .tabs .tablinks h4 {
        line-height: 1.6; }
      .itemTab2 .tabContainer .tabs .tablinks h4:hover {
        border: 2px solid #ffb600;
        color: #ffb600;
        background-color: #fff; }
    .itemTab2 .tabContainer .tabs .tablinks.active {
      border-radius: 10px; }
    .itemTab2 .tabContainer .tabs li:last-child {
      width: 150px; }
  .itemTab2 .wrapTabPanel {
    position: relative;
    width: 100%; }
    .itemTab2 .wrapTabPanel .tabPanel {
      width: 85%;
      height: auto;
      background-color: #fff;
      border-radius: 15px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0; }
    .itemTab2 .wrapTabPanel #tab-1 .levelInfor {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .itemTab2 .wrapTabPanel #tab-1 .levelInfor span {
        font-size: 10px;
        line-height: 2;
        color: #076baf;
        font-family: g2Font; }
      .itemTab2 .wrapTabPanel #tab-1 .levelInfor .topLevel {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 2% 0; }
      .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar {
        position: relative; }
        .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .baby {
          width: 8%;
          position: absolute;
          top: 20%;
          left: 2%; }
          .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .baby img {
            width: 100%; }
        .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .colorBar {
          border: 1px solid #000;
          border-radius: 15px;
          width: 90%;
          height: 60px;
          margin: auto; }
          .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .colorBar .nowPro {
            width: 16%;
            height: 100%;
            background-color: #f8dcd3;
            border-radius: 15px 0 0 15px; }
        .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .kid {
          position: absolute;
          top: 68%;
          left: 15%;
          width: 8%; }
          .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .kid img {
            width: 100%; }
      .itemTab2 .wrapTabPanel #tab-1 .levelInfor .bottumLevel {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 2%; }
    .itemTab2 .wrapTabPanel #tab-1 .description h4 {
      font-family: g2Font;
      color: #076baf;
      text-align: center;
      line-height: 2; }
    .itemTab2 .wrapTabPanel #tab-1 .description .specify {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .itemTab2 .wrapTabPanel #tab-1 .description .specify .col4 {
        width: 50%; }
        .itemTab2 .wrapTabPanel #tab-1 .description .specify .col4 p {
          font-size: 18px;
          line-height: 2;
          padding-left: 2%;
          color: #076baf;
          font-family: g2Font; }
        .itemTab2 .wrapTabPanel #tab-1 .description .specify .col4 li {
          line-height: 1.6;
          color: #076baf;
          font-family: g2Font;
          padding-left: 2%; }
    .itemTab2 .wrapTabPanel #tab-1 .description .btnn {
      text-align: center; }
      .itemTab2 .wrapTabPanel #tab-1 .description .btnn .goToCustom {
        height: 30px;
        font-size: 20px;
        line-height: 0.6;
        margin-bottom: 1%; }
    .itemTab2 .wrapTabPanel #tab-2 .orderList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left; }
      .itemTab2 .wrapTabPanel #tab-2 .orderList table {
        line-height: 1.6; }
        .itemTab2 .wrapTabPanel #tab-2 .orderList table th {
          color: #076baf;
          font-size: 16px;
          font-family: g2Font; }
        .itemTab2 .wrapTabPanel #tab-2 .orderList table td {
          color: #076baf;
          font-size: 15px;
          font-family: g2Font; }
      .itemTab2 .wrapTabPanel #tab-2 .orderList table:first-child th {
        width: 30%;
        padding: 1% 3%; }
      .itemTab2 .wrapTabPanel #tab-2 .orderList table:last-child th {
        width: 33%;
        padding: 1% 3%; }
    .itemTab2 .wrapTabPanel #tab-2 .total {
      text-align: right;
      padding: 1% 2%; }
      .itemTab2 .wrapTabPanel #tab-2 .total p {
        line-height: 1.6;
        color: #076baf;
        font-family: g2Font; }
    .itemTab2 .wrapTabPanel #tab-2 #listMore {
      text-align: center; }
      .itemTab2 .wrapTabPanel #tab-2 #listMore a {
        color: #076baf;
        font-family: g2Font;
        line-height: 2; }
    .itemTab2 .wrapTabPanel #tab-3 .collect {
      text-align: center; }
      .itemTab2 .wrapTabPanel #tab-3 .collect p {
        font-family: g2Font;
        color: #076baf;
        line-height: 10; }
    .itemTab2 .wrapTabPanel #tab-4 {
      width: 85%; }
      .itemTab2 .wrapTabPanel #tab-4 table {
        margin: auto;
        width: 100%; }
        .itemTab2 .wrapTabPanel #tab-4 table tr:first-child {
          border-bottom: 2px solid #076baf;
          text-align: center; }
          .itemTab2 .wrapTabPanel #tab-4 table tr:first-child th {
            line-height: 3;
            color: #076baf;
            font-family: g2Font;
            font-size: 16px; }
        .itemTab2 .wrapTabPanel #tab-4 table tr:last-child td {
          text-align: center;
          vertical-align: middle;
          padding: 2%;
          font-family: g2Font;
          color: #076baf;
          font-size: 12px;
          margin-right: 1%; }

@media screen and (max-width: 768px) {
  .memWrap form {
    margin: auto;
    margin-top: 35%; }
  .itemTab2 .tabContainer #tab-1 .description h4 {
    font-size: 25px; }
  .itemTab2 .tabContainer #tab-1 .description .specify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .itemTab2 .tabContainer #tab-1 .description .specify .col4 {
      width: 50%; }
      .itemTab2 .tabContainer #tab-1 .description .specify .col4 p {
        font-size: 18px;
        line-height: 2;
        padding-left: 2%;
        color: #076baf;
        font-family: g2Font; }
      .itemTab2 .tabContainer #tab-1 .description .specify .col4 li {
        padding: 2%;
        font-size: 15px;
        line-height: 1.6;
        color: #076baf;
        font-family: g2Font; }
  footer #floor {
    display: none;
    position: unset; } }

@media screen and (min-width: 769px) {
  .memWrap form {
    margin: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around; }
    .memWrap form .col-1 {
      margin: auto; }
      .memWrap form .col-1 tr td {
        padding-top: 0%; }
        .memWrap form .col-1 tr td div {
          width: 65%;
          margin-top: 0%; }
          .memWrap form .col-1 tr td div img {
            width: 78%; }
            .memWrap form .col-1 tr td div img label p img {
              width: 3%; }
    .memWrap form .col-2 tr td p {
      font-size: 22px; }
      .memWrap form .col-2 tr td p input {
        font-size: 18px; }
      .memWrap form .col-2 tr td p img {
        width: 5%;
        vertical-align: unset; }
  .memWrap .col-3 tr td p {
    font-size: 22px; }
    .memWrap .col-3 tr td p span {
      font-size: 22px; }
  .itemTab2 {
    margin: 5% auto;
    height: auto; }
    .itemTab2 .tabContainer .tabs {
      flex-direction: no-wrap; }
    .itemTab2 .wrapTabPanel .tabPanel {
      max-width: 1200px; }
    .itemTab2 .wrapTabPanel #tab-1 .levelInfor span {
      font-size: 16px;
      line-height: 1.6; }
    .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .baby {
      width: 5%;
      top: 0;
      left: 3%; }
    .itemTab2 .wrapTabPanel #tab-1 .levelInfor .procBar .kid {
      width: 5%;
      top: 25%;
      left: 17%; }
    .itemTab2 .wrapTabPanel #tab-1 .description {
      margin-top: 2%; }
      .itemTab2 .wrapTabPanel #tab-1 .description h4 {
        font-size: 28px; }
      .itemTab2 .wrapTabPanel #tab-1 .description .specify {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 10px; }
        .itemTab2 .wrapTabPanel #tab-1 .description .specify .col4 {
          width: 25%; }
          .itemTab2 .wrapTabPanel #tab-1 .description .specify .col4 p {
            font-size: 22px; }
          .itemTab2 .wrapTabPanel #tab-1 .description .specify .col4 li {
            font-size: 18px; }
    .itemTab2 .wrapTabPanel #tab-2 .orderList {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .itemTab2 .wrapTabPanel #tab-2 .orderList table {
        width: 44%; }
        .itemTab2 .wrapTabPanel #tab-2 .orderList table tr th {
          font-size: 20px; }
        .itemTab2 .wrapTabPanel #tab-2 .orderList table tr td {
          padding-left: 1%;
          font-size: 18px; }
      .itemTab2 .wrapTabPanel #tab-2 .orderList table:first-child th {
        width: 35%; }
      .itemTab2 .wrapTabPanel #tab-2 .orderList table:last-child th {
        width: 35%; }
    .itemTab2 .wrapTabPanel #tab-3 .collect p {
      font-size: 22px;
      font-family: g2Font; }
    .itemTab2 .wrapTabPanel #tab-4 table tr:first-child th {
      font-size: 25px; }
    .itemTab2 .wrapTabPanel #tab-4 table tr:last-child td {
      font-family: g2Font;
      font-size: 20px; }
  footer #floor {
    display: none; }
    footer #floor #copy {
      text-align: center; } }

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/tina/leftCandy.png), url(../images/tina/rightCandy.png);
    background-repeat: no-repeat;
    background-position: bottom left ,bottom right;
    background-size: 17% 75%; }
  body::before {
    content: '';
    display: block; }
  .wrapTabPanel {
    height: 80vh; } }

/*# sourceMappingURL=member.css.map */
