body {
  background-color: #b8f1ed; }

.memWrap {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: auto; }
  .memWrap form {
    width: 85%;
    height: auto;
    background-color: #fff;
    border-radius: 10px; }
    .memWrap form .col-1 {
      width: 100%;
      height: 100px; }
      .memWrap form .col-1 tr {
        width: 100%;
        height: 80px; }
        .memWrap form .col-1 tr td {
          text-align: center;
          padding-top: 1%; }
          .memWrap form .col-1 tr td div {
            margin: auto;
            margin-top: 5%;
            width: 30%;
            border: 2px dotted #076baf;
            border-radius: 50%; }
            .memWrap form .col-1 tr td div img {
              width: 70%;
              padding-top: 2%; }
          .memWrap form .col-1 tr td p {
            padding: 10px;
            color: #076baf; }
            .memWrap form .col-1 tr td p input {
              width: 50%;
              padding-top: 5px; }
              .memWrap form .col-1 tr td p input:focus {
                outline: none; }
            .memWrap form .col-1 tr td p img {
              width: 3%; }
    .memWrap form .col-2 {
      width: 100%; }
      .memWrap form .col-2 tr {
        width: 100%;
        height: 30px; }
        .memWrap form .col-2 tr td {
          padding: 2% 3%;
          text-align: center; }
          .memWrap form .col-2 tr td p {
            color: #076baf;
            padding: 1%; }
            .memWrap form .col-2 tr td p input {
              color: #076baf;
              width: 80px;
              background-color: transparent;
              border: 1px solid #fff; }
              .memWrap form .col-2 tr td p input:focus {
                outline: none; }
            .memWrap form .col-2 tr td p img {
              width: 3%; }
      .memWrap form .col-2 tr:nth-child(5) input {
        font-size: 12px; }
    .memWrap form .col-3 {
      width: 100%;
      height: 30px; }
      .memWrap form .col-3 tr td {
        padding: 2% 3%;
        text-align: center;
        height: 35px; }
        .memWrap form .col-3 tr td p {
          color: #076baf;
          line-height: 1.6; }
      .memWrap form .col-3 tr:last-child span {
        color: #f00;
        line-height: 1.6; }

.itemTab2 {
  max-width: 1200px;
  width: 100%;
  margin: 10% auto; }
  .itemTab2 .tab-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3% auto; }
    .itemTab2 .tab-list li {
      position: relative;
      z-index: -1; }
      .itemTab2 .tab-list li h4 {
        position: absolute;
        top: 32%;
        left: 23%;
        text-align: center;
        color: #076baf; }
    .itemTab2 .tab-list li:last-child h4 {
      left: 18%; }
  .itemTab2 .tab-panel {
    width: 85%;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    display: none; }
  .itemTab2 .tab-panel.active {
    display: block; }
  .itemTab2 #tab-1 .levelInfor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .itemTab2 #tab-1 .levelInfor span {
      font-size: 10px;
      line-height: 2;
      color: #076baf; }
    .itemTab2 #tab-1 .levelInfor .topLevel {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 2% 0; }
    .itemTab2 #tab-1 .levelInfor .procBar {
      position: relative; }
      .itemTab2 #tab-1 .levelInfor .procBar .baby {
        width: 8%;
        position: absolute;
        top: 20%;
        left: 2%; }
        .itemTab2 #tab-1 .levelInfor .procBar .baby img {
          width: 100%; }
      .itemTab2 #tab-1 .levelInfor .procBar .colorBar {
        border: 1px solid #000;
        border-radius: 15px;
        width: 90%;
        height: 60px;
        margin: auto; }
        .itemTab2 #tab-1 .levelInfor .procBar .colorBar .nowPro {
          width: 16%;
          height: 100%;
          background-color: #f8dcd3;
          border-radius: 15px 0 0 15px; }
      .itemTab2 #tab-1 .levelInfor .procBar .kid {
        position: absolute;
        top: 68%;
        left: 15%;
        width: 8%; }
        .itemTab2 #tab-1 .levelInfor .procBar .kid img {
          width: 100%; }
    .itemTab2 #tab-1 .levelInfor .bottumLevel {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 2%; }
  .itemTab2 #tab-1 .description h4 {
    color: #076baf;
    text-align: center;
    line-height: 2; }
  .itemTab2 #tab-1 .description .specify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .itemTab2 #tab-1 .description .specify .col4 {
      width: 50%; }
      .itemTab2 #tab-1 .description .specify .col4 p {
        line-height: 2;
        padding-left: 2%;
        color: #076baf; }
      .itemTab2 #tab-1 .description .specify .col4 li {
        line-height: 1.6;
        font-size: 16px;
        padding-left: 2%;
        color: #076baf; }
  .itemTab2 #tab-1 .description .btn {
    padding: 2% 0; }
    .itemTab2 #tab-1 .description .btn p {
      width: 30%;
      color: #fff;
      background-color: #076baf;
      font-size: 13px;
      border-radius: 5px;
      line-height: 1.6;
      margin: auto;
      cursor: pointer;
      text-align: center; }
  .itemTab2 #tab-2 .orderList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; }
    .itemTab2 #tab-2 .orderList table {
      line-height: 1.6; }
      .itemTab2 #tab-2 .orderList table th {
        color: #076baf;
        font-size: 16px;
        font-family: g2Font; }
      .itemTab2 #tab-2 .orderList table td {
        color: #076baf;
        font-size: 15px; }
    .itemTab2 #tab-2 .orderList table:first-child th {
      width: 30%;
      padding: 1% 3%; }
    .itemTab2 #tab-2 .orderList table:last-child th {
      width: 33%;
      padding: 1% 3%; }
  .itemTab2 #tab-2 .total {
    text-align: right;
    padding: 1% 2%; }
    .itemTab2 #tab-2 .total p {
      line-height: 1.6;
      color: #076baf; }
  .itemTab2 #tab-2 #listMore {
    text-align: center; }
    .itemTab2 #tab-2 #listMore a {
      color: #076baf;
      line-height: 2; }
  .itemTab2 #tab-3 .collect {
    text-align: center; }
    .itemTab2 #tab-3 .collect p {
      color: #076baf;
      line-height: 10; }
  .itemTab2 #tab-4 {
    width: 85%; }
    .itemTab2 #tab-4 table {
      margin: auto;
      width: 100%; }
      .itemTab2 #tab-4 table tr:first-child {
        border-bottom: 2px solid #076baf;
        text-align: center; }
        .itemTab2 #tab-4 table tr:first-child th {
          line-height: 3;
          color: #076baf;
          font-family: g2Font; }
      .itemTab2 #tab-4 table tr:last-child td {
        text-align: center;
        vertical-align: middle;
        padding: 3%;
        color: #076baf;
        font-size: 15px; }

@media screen and (max-width: 768px) {
  .memWrap form {
    margin: auto;
    margin-top: 35%; } }

@media screen and (min-width: 769px) {
  .memWrap form {
    margin: auto;
    margin-top: 15%;
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around; }
  .itemTab2 {
    margin: 5% auto;
    height: auto; }
    .itemTab2 .tab-list {
      flex-direction: no-wrap;
      justify-content: space-around; }
    .itemTab2 #tab-1 .levelInfor span {
      font-size: 16px;
      line-height: 1.6; }
    .itemTab2 #tab-1 .levelInfor .procBar .baby {
      width: 4%;
      top: 0;
      left: 3%; }
    .itemTab2 #tab-1 .levelInfor .procBar .kid {
      width: 4%;
      top: 25%;
      left: 17%; }
    .itemTab2 #tab-1 .description {
      margin-top: 2%;
      padding-left: 2%; }
      .itemTab2 #tab-1 .description p {
        font-size: 18px; }
      .itemTab2 #tab-1 .description .specify {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        .itemTab2 #tab-1 .description .specify .col4 {
          width: 25%; }
          .itemTab2 #tab-1 .description .specify .col4 span {
            font-size: 16px; }
          .itemTab2 #tab-1 .description .specify .col4 li {
            font-size: 15px; }
      .itemTab2 #tab-1 .description .btn {
        padding: 2% 0; }
        .itemTab2 #tab-1 .description .btn p {
          width: 15%;
          font-size: 16px; }
    .itemTab2 #tab-2 .orderList {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .itemTab2 #tab-2 .orderList table {
        width: 50%; }
        .itemTab2 #tab-2 .orderList table td {
          padding-left: 1%; }
      .itemTab2 #tab-2 .orderList table:first-child th {
        width: 50%; }
      .itemTab2 #tab-2 .orderList table:last-child th {
        width: 50%; } }

/*# sourceMappingURL=member.css.map */
