@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

h1, h2, h3, h4, p, span {
  font-family: g2Font; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #737374;
  background-color: #fbe5dd;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #737374;
      background-color: #fca8b7; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden; }

footer {
  height: 400px;
  /* background: #4cc7f4; */
  display: flex;
  overflow: hidden; }

.container {
  position: relative;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 10s march linear infinite; }

.snack {
  position: relative;
  width: 180px;
  height: 25px;
  border-radius: 20px / 50px;
  box-sizing: border-box;
  animation: 1.8s bounce infinite; }

.snack .pic {
  position: absolute;
  top: -130px;
  left: 7%;
  width: 118px;
  /* border-radius: 50%; */
  /* border: 5px solid transparent; */
  z-index: 2; }
  @media screen and (max-width: 767px) {
    .snack .pic {
      top: -100px;
      left: 0; } }

.snack .shadow {
  position: absolute;
  width: 80px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  animation: 1.8s shadow-shift infinite; }

#floor {
  position: absolute;
  top: 30%;
  z-index: -1; }

#copy {
  position: absolute;
  bottom: 0;
  left: 42%;
  z-index: 0;
  line-height: 30px; }

@keyframes bounce {
  0% {
    top: 30px; }
  25% {
    top: 0;
    transform: rotate(-5deg); }
  50% {
    top: 30px; }
  75% {
    top: 0;
    transform: rotate(5deg); }
  100% {
    top: 30px; } }

@keyframes shadow-shift {
  0% {
    top: 40px;
    left: 0;
    width: 150px; }
  25% {
    top: 70px;
    left: 0;
    transform: rotate(5deg);
    width: 120px;
    opacity: 0.5; }
  50% {
    top: 40px;
    left: 0;
    width: 150px; }
  75% {
    top: 70px;
    left: 30px;
    transform: rotate(-5deg);
    width: 120px;
    opacity: 0.5; }
  100% {
    top: 40px;
    left: 0;
    width: 150px; } }

@keyframes march {
  0% {
    left: 0px; }
  100% {
    left: -800px; } }

img {
  width: 100%; }

@media screen and (min-width: 578px) and (max-width: 767px) {
  #copy {
    line-height: 20px;
    font-size: 10px; }
  #floor {
    img: 110%; }
  @keyframes shadow-shift {
    0% {
      top: 80px;
      left: 0;
      width: 120px; }
    25% {
      top: 110px;
      left: 0;
      transform: rotate(5deg);
      width: 90px;
      opacity: 0.5; }
    50% {
      top: 80px;
      left: 0;
      width: 120px; }
    75% {
      top: 110px;
      left: 30px;
      transform: rotate(-5deg);
      width: 90px;
      opacity: 0.5; }
    100% {
      top: 80px;
      left: 0;
      width: 120px; } } }

@media screen and (max-width: 575px) {
  footer {
    height: 300px; }
  #floor {
    top: 24%;
    overflow: hidden; }
    #floor img {
      width: 200%; }
  .pic {
    width: 50%; }
  .snack {
    height: 42px; }
  .snack .pic {
    top: -95px;
    width: 60px;
    left: 0; }
  #copy {
    font-size: 8px;
    left: 33%;
    bottom: 0;
    line-height: 20px; }
  @keyframes shadow-shift {
    0% {
      top: -10px;
      left: 0;
      width: 60px; }
    25% {
      top: 20px;
      left: 0;
      transform: rotate(5deg);
      width: 40px;
      opacity: 0.5; }
    50% {
      top: -10px;
      left: 0;
      width: 60px; }
    75% {
      top: 20px;
      left: 30px;
      transform: rotate(-5deg);
      width: 40px;
      opacity: 0.5; }
    100% {
      top: -10px;
      left: 0;
      width: 60px; } } }
