* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

h1, h2, h3, h4, p, span {
  font-family: g2Font;
  line-height: 1.6em; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #737374;
  background-color: #fbe5dd;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #737374;
      background-color: #fca8b7; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.rankBoard {
  background-color: #c1f3d2; }
  .rankBoard section {
    position: relative;
    padding-bottom: 10vh; }
  .rankBoard .mNone {
    display: none; }
  .rankBoard .title {
    width: 260px;
    height: 163px;
    position: relative;
    margin: auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/rankBoard/titleCloud.png"); }
    .rankBoard .title h2 {
      width: 100%;
      position: absolute;
      top: 43%;
      left: 47%;
      transform: translate(-50%, -50%);
      color: #076baf;
      line-height: 1.2; }

@keyframes rollGlow {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes floating {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(5px); } }
  .rankBoard .item {
    min-width: 200px;
    width: 21%;
    margin: 5vh auto;
    position: relative;
    animation: floating 1s infinite alternate linear; }
    .rankBoard .item::before {
      content: '';
      display: block;
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: -1;
      top: -47px;
      left: 0;
      right: 0;
      margin: auto;
      background-size: cover;
      background-image: url(/images/rankBoard/glow.png);
      animation: rollGlow 5s  infinite linear; }
    .rankBoard .item:hover {
      animation-play-state: paused; }
    .rankBoard .item .itemCountry {
      width: 9.9%;
      position: absolute;
      top: 20%;
      right: 13%;
      border-radius: 100px;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7); }
    .rankBoard .item .itemCtx {
      width: 62.3%;
      position: absolute;
      top: 28%;
      left: 18%;
      text-align: center; }
      .rankBoard .item .itemCtx .itemImg {
        width: 76%;
        margin: auto; }
        .rankBoard .item .itemCtx .itemImg img {
          width: 100%; }
      .rankBoard .item .itemCtx .score {
        font-size: 38px;
        line-height: .9em;
        color: #e97d58; }
    .rankBoard .item .star {
      width: 64%;
      max-width: 163px;
      position: absolute;
      bottom: 9%;
      left: 17%;
      border-radius: 100px;
      background: linear-gradient(to right, #e97d58 85%, white 10%); }
      .rankBoard .item .star img {
        vertical-align: middle;
        width: 100%; }
  @media screen and (min-width: 768px) {
    .rankBoard section {
      max-width: 1200px;
      margin: auto; }
    .rankBoard .rollingItem {
      display: flex;
      flex-flow: row wrap;
      width: 12%;
      transform: rotate(40deg);
      position: absolute; }
      .rankBoard .rollingItem img {
        width: 100%;
        height: 75%; }
    .rankBoard #roll_1 {
      top: -25%;
      left: -8%; }
    .rankBoard #roll_2 {
      top: -25%;
      left: 2%; }
    .rankBoard #titleAll {
      margin-right: 0; }
    .rankBoard .item {
      margin: 0; }
    .rankBoard #rank_1 {
      position: absolute;
      top: 0;
      left: 52%; }
    .rankBoard #rank_2 {
      margin-top: 10%;
      left: 26%; }
    .rankBoard #rank_3 {
      position: absolute;
      bottom: 0;
      right: 0; }
    .rankBoard #titleCat {
      margin-left: 0; }
    .rankBoard #allPanel {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      font-family: g2Font; }
      .rankBoard #allPanel aside {
        align-self: center;
        width: 9.1%;
        border-radius: 30px;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
        font-size: 20px; }
        .rankBoard #allPanel aside .switch {
          width: 100%;
          padding: 10px 5px;
          text-align: center;
          margin: 0 auto;
          color: #076baf; }
          .rankBoard #allPanel aside .switch:hover {
            color: #fff;
            background-color: #076baf; }
      .rankBoard #allPanel #rankPanel {
        width: 31%;
        height: 0;
        padding-bottom: 31%;
        background-image: url(/images/rankBoard/rankPanel.png);
        background-size: cover;
        position: relative; }
        .rankBoard #allPanel #rankPanel .switch {
          font-size: 26px;
          color: #076baf;
          width: 17%;
          height: 0;
          padding-bottom: 15%;
          border-radius: 100px;
          text-align: center;
          line-height: 2.5;
          position: absolute; }
        .rankBoard #allPanel #rankPanel .sw_rk {
          cursor: pointer; }
        .rankBoard #allPanel #rankPanel #rank_ring {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: rotate(90deg); }
        .rankBoard #allPanel #rankPanel #sw_ring {
          border: #076baf solid 3px;
          transform: translate(-30%, -50%); }
        .rankBoard #allPanel #rankPanel #sw_1 {
          top: -5%;
          left: 41.5%; }
        .rankBoard #allPanel #rankPanel #sw_2 {
          top: 18%;
          left: 81%; }
        .rankBoard #allPanel #rankPanel #sw_3 {
          top: 63%;
          left: 81%; }
        .rankBoard #allPanel #rankPanel #sw_4 {
          bottom: -2.5%;
          left: 41.5%; }
        .rankBoard #allPanel #rankPanel #sw_5 {
          top: 63%;
          right: 81%; }
        .rankBoard #allPanel #rankPanel #sw_6 {
          top: 18%;
          right: 81%; }
      .rankBoard #allPanel #itemDetail {
        width: 45%;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        border-radius: 40px; } }
