@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

html {
  font-size: 34px; }

h1, h2, h3, h4, p, span {
  font-family: g2Font;
  line-height: 1.6em; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

input:focus, select:focus {
  outline: none; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .cart:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; }
    .cart:focus {
      outline: none; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .detail:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; }
    .detail:focus {
      outline: none; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .step:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; }
    .step:focus {
      outline: none; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .dimension:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; }
    .dimension:focus {
      outline: none; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .action:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; }
    .action:focus {
      outline: none; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .category:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; }
    .category:focus {
      outline: none; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .goToCustom:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #fff;
      background-color: #00457b; }
    .goToCustom:focus {
      outline: none; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .subscribe:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; }
    .subscribe:focus {
      outline: none; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .month:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; }
    .month:focus {
      outline: none; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  line-height: 40px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

body {
  background-color: #fcde91; }

h1, h2, h3, h4, p, span {
  color: #737374; }

.clearfix {
  content: "";
  clear: both; }

.shopping {
  margin-top: 120px; }
  @media only screen and (min-width: 576px) {
    .shopping {
      margin-top: 150px; } }
  .shopping .wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: #737374; }
    @media only screen and (max-width: 576px) {
      .shopping .wrap {
        padding: 10px;
        margin-top: 30px; } }
    .shopping .wrap img {
      width: 100%; }
    .shopping .wrap .title {
      width: 260px;
      margin: auto;
      text-align: center;
      background-image: url(../images/blair/title.png);
      background-repeat: no-repeat; }
      .shopping .wrap .title h2 {
        line-height: 163px;
        color: #076baf; }
    .shopping .wrap .search {
      position: relative;
      max-width: 760px;
      margin: auto;
      margin-top: 20px; }
      .shopping .wrap .search img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: none; }
        @media only screen and (min-width: 768px) {
          .shopping .wrap .search img {
            display: inline-block; } }
      .shopping .wrap .search select, .shopping .wrap .search input {
        background-color: rgba(255, 255, 255, 0.97);
        border: transparent;
        border-radius: 10px; }
      .shopping .wrap .search select {
        width: 25%;
        margin-right: 5%;
        font-size: 16px;
        padding: 2px 4px 6px 4px; }
        @media only screen and (min-width: 768px) {
          .shopping .wrap .search select {
            width: 16%;
            position: relative;
            top: -3px; } }
      .shopping .wrap .search input {
        position: relative;
        font-size: 14px;
        top: -4px;
        padding: 4px 0px 4px 6px; }
      .shopping .wrap .search i {
        font-size: 18px;
        vertical-align: middle; }
    .shopping .wrap .items {
      margin-top: 60px;
      margin-bottom: 50px;
      text-align: center; }
      .shopping .wrap .items .red {
        background-image: url(../images/blair/red-pack.png); }
      .shopping .wrap .items .green {
        background-image: url(../images/blair/green-pack.png); }
      .shopping .wrap .items .blue {
        background-image: url(../images/blair/blue-pack.png); }
      .shopping .wrap .items .item {
        width: 280px;
        height: 480px;
        float: left;
        margin-left: calc( 50% - 140px);
        position: relative; }
        @media only screen and (min-width: 768px) {
          .shopping .wrap .items .item {
            margin-left: 69.33333px; } }
        @media only screen and (min-width: 840px) {
          .shopping .wrap .items .item {
            margin-left: calc( 25% - 210px); } }
        .shopping .wrap .items .item .country {
          width: 40px;
          position: absolute;
          top: 30px;
          right: 15px; }
        .shopping .wrap .items .item .itemImg {
          width: 140px;
          margin-top: 70px; }
        .shopping .wrap .items .item .itemName {
          width: 196px;
          margin: auto;
          margin-top: 10px; }
        .shopping .wrap .items .item .star {
          width: 140px;
          vertical-align: middle; }
        .shopping .wrap .items .item .price {
          margin-top: 4px;
          font-size: 22px; }
        .shopping .wrap .items .item .itemBtns {
          margin-top: 6px; }
          .shopping .wrap .items .item .itemBtns .cart, .shopping .wrap .items .item .itemBtns .heart {
            vertical-align: middle; }
    .shopping .wrap #pagination ul {
      display: flex;
      justify-content: center; }
      .shopping .wrap #pagination ul li {
        margin: 0 7.5px;
        font-size: 20px; }
        .shopping .wrap #pagination ul li a {
          color: #076baf;
          padding: 5px 10px;
          font-family: g2font; }
        .shopping .wrap #pagination ul li .nowLoc, .shopping .wrap #pagination ul li a:hover {
          color: #fff;
          background-color: #076baf; }
        .shopping .wrap #pagination ul li .fas {
          color: #fff; }
        .shopping .wrap #pagination ul li #next, .shopping .wrap #pagination ul li #last {
          background-color: #076baf;
          padding: 5px 10px; }
        .shopping .wrap #pagination ul li #last {
          border-radius: 8px 0 0 8px; }
        .shopping .wrap #pagination ul li #next {
          border-radius: 0 8px 8px 0; }
    .shopping .wrap .mint {
      display: none; }
      @media only screen and (min-width: 1200px) {
        .shopping .wrap .mint {
          display: block;
          width: 260px;
          position: fixed;
          top: 40%;
          right: 20px;
          z-index: 9; }
          .shopping .wrap .mint .info {
            width: 200px;
            height: 155px;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 14px;
            margin-bottom: 30px;
            position: relative; }
            .shopping .wrap .mint .info::after {
              content: '';
              display: block;
              border-style: solid;
              border-width: 22px 18px 0 18px;
              border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
              position: absolute;
              top: 100%;
              right: 20px; }
            .shopping .wrap .mint .info h4 {
              margin-bottom: 6px; }
            .shopping .wrap .mint .info #mintStar {
              font-size: 50px;
              color: #e97d58;
              line-height: 1em; }
            .shopping .wrap .mint .info #mintFive {
              font-size: 20px;
              color: #e97d58; }
            .shopping .wrap .mint .info .star {
              width: 80%;
              margin: auto; }
            .shopping .wrap .mint .info #msg {
              margin-top: 32px; }
          .shopping .wrap .mint .radar {
            width: 180px;
            height: 180px;
            margin: auto;
            margin-top: 52px; }
          .shopping .wrap .mint .mintImg {
            position: absolute;
            top: 180px;
            left: 0;
            z-index: -1; } }
  .shopping #bgChips {
    display: none; }
    @media only screen and (min-width: 1200px) {
      .shopping #bgChips {
        display: block;
        transform: rotate(40deg);
        max-width: 295px;
        position: absolute;
        top: 1200px;
        left: -120px;
        z-index: -1;
        opacity: 0.9; } }
  .shopping #bgChips1 {
    display: none; }
  .shopping #bgChips2 {
    display: none; }
  .shopping #bgChips3 {
    display: none; }
  .shopping #bgChips4 {
    display: none; }
  .shopping #bgChips5 {
    display: none; }
  .shopping #bgChips6 {
    display: none; }
  .shopping #bgChips7 {
    display: none; }
  .shopping #bgChips8 {
    display: none; }
  .shopping #bgChips9 {
    display: none; }
  .shopping #bgChips10 {
    display: none; }
  @media only screen and (min-width: 1200px) {
    .shopping #bgChips1 {
      display: block;
      position: absolute;
      max-width: 60px;
      top: 1200px;
      left: 100px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips2 {
      display: block;
      position: absolute;
      max-width: 80px;
      top: 1290px;
      left: 140px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips3 {
      display: block;
      position: absolute;
      max-width: 44px;
      top: 1250px;
      left: 140px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips4 {
      display: block;
      position: absolute;
      max-width: 74px;
      top: 1100px;
      left: 90px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips5 {
      display: block;
      position: absolute;
      max-width: 45px;
      top: 1000px;
      left: 120px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips6 {
      display: block;
      position: absolute;
      max-width: 68px;
      top: 900px;
      left: 70px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips7 {
      display: block;
      position: absolute;
      max-width: 68px;
      top: 800px;
      left: 80px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips8 {
      display: block;
      position: absolute;
      max-width: 68px;
      top: 700px;
      left: 60px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips9 {
      display: block;
      position: absolute;
      max-width: 68px;
      top: 550px;
      left: 60px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); }
    .shopping #bgChips10 {
      display: block;
      position: absolute;
      max-width: 68px;
      top: 450px;
      left: 70px;
      transform: rotate(10deg);
      z-index: -2;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1)); } }

/*# sourceMappingURL=shopping.css.map */
