@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

#index h1 {
  font-size: 72px;
  background-color: #111;
  color: #ccc; }

#index a {
  background-color: #ccc;
  color: crimson;
  border-radius: 5px;
  padding: 10px; }

a {
  display: block;
  font-family: g2Font;
  color: #737374; }

.cloud {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0; }
  .cloud .doc--bg2 {
    transform: rotate(180deg);
    width: 100%;
    height: 20vh;
    position: relative;
    overflow: hidden; }
    .cloud .doc--bg2 #canvas {
      width: 100%;
      height: 20vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }

header {
  width: 100%;
  height: 15vh;
  margin: auto;
  position: fixed;
  top: 0; }
  header h1 {
    display: none; }
  header .smalSearch {
    width: 120px;
    height: 30px;
    padding: 5px;
    margin-top: 2.3%; }
    header .smalSearch img {
      width: 100%; }
  header nav .menu {
    width: 100%; }
    header nav .menu .logo {
      position: fixed;
      top: 2%; }
      header nav .menu .logo img {
        width: 100px;
        height: 100px; }
    header nav .menu .list li:first-child:hover a {
      color: #53a9f5; }
    header nav .menu .list li:nth-child(4):hover a {
      color: #d88aa2; }
    header nav .menu .list li:last-child:hover a {
      color: #f09c8a; }
    header nav .menu .list #store:hover .subMenu {
      display: block; }
    header nav .menu .list #store a:hover {
      color: #f0dc29; }
    header nav .menu .list #store .subMenu {
      width: 140px;
      display: none; }
      header nav .menu .list #store .subMenu li {
        width: 120px;
        height: 30px; }
  header .login li {
    color: #737374; }

@media screen and (max-width: 767px) {
  body {
    margin-top: 50px; }
  .doc--bg2 #canvas {
    height: 10vh; }
  header .smalSearch {
    display: none; }
  header .menu {
    width: 100%;
    height: auto; }
    header .menu .logo {
      left: 38%; }
    header .menu #ham {
      margin-top: 3%;
      width: 40px;
      height: 30px;
      cursor: pointer; }
      header .menu #ham span {
        display: block;
        background-color: #aaa;
        width: 40px;
        height: 5px;
        margin: 8px;
        border-radius: 10px; }
    header .menu #list_appear {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0%;
      left: 0%;
      transition: 0.3s;
      transform: translateX(-100%); }
      header .menu #list_appear.show {
        transform: translateX(0%); }
      header .menu #list_appear #cros {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        cursor: pointer; }
        header .menu #list_appear #cros .leave {
          display: block;
          width: 40px;
          height: 40px;
          font-size: 35px;
          color: #737374;
          position: absolute;
          top: 5%;
          right: 0; }
      header .menu #list_appear .list {
        width: 100%;
        height: 100vh;
        background-color: #8fcfcb; }
        header .menu #list_appear .list li {
          width: 150px;
          height: 80px;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 2%; }
        header .menu #list_appear .list li:nth-child(3) {
          display: none; }
  header .login {
    position: absolute;
    top: 10%;
    right: 0;
    width: 35%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -1; }
    header .login li {
      width: 25%;
      font-size: 15px;
      line-height: 1.2;
      align-self: center; }
      header .login li span {
        display: block;
        font-size: 14px;
        line-height: 1.2; } }

@media screen and (min-width: 768px) {
  body {
    margin-top: 0; }
  header {
    display: flex;
    justify-content: space-between; }
    header nav {
      width: 100%; }
      header nav .menu .logo {
        display: none; }
      header nav .menu #list_appear {
        width: 100%; }
        header nav .menu #list_appear #cros {
          display: none; }
        header nav .menu #list_appear .list {
          margin-top: 2%;
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          header nav .menu #list_appear .list li {
            line-height: 1.6em;
            padding: 0 10px; }
            header nav .menu #list_appear .list li img {
              width: 120px;
              height: 120px;
              margin-top: 45px; }
          header nav .menu #list_appear .list #store {
            position: relative;
            top: 0; }
            header nav .menu #list_appear .list #store .subMenu {
              position: absolute;
              top: 25px;
              left: 0px; }
    header .login {
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: -1.3%; }
      header .login li {
        text-align: center;
        width: 30%;
        padding: 1% 2%; }
        header .login li span {
          display: block;
          font-size: 14px;
          line-height: 1.6; }
      header .login li:first-child {
        width: 15%; }
      header .login li:last-child {
        width: 15%; } }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

h1, h2, h3, h4, p, span {
  font-family: g2Font; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #737374;
  background-color: #fbe5dd;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #737374;
      background-color: #fca8b7; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

* {
  outline: 1px solid #f00; }

body {
  background-color: #b8f1ed; }

.memWrap {
  width: 100%;
  height: auto; }
  .memWrap form {
    width: 85%;
    height: auto;
    background-color: #fff;
    border-radius: 10px; }
    .memWrap form .col-1 {
      width: 100%;
      height: 100px; }
      .memWrap form .col-1 tr {
        width: 100%;
        height: 80px; }
        .memWrap form .col-1 tr td {
          text-align: center;
          padding-top: 1%; }
          .memWrap form .col-1 tr td div {
            margin: auto;
            width: 30%;
            border: 2px dotted #076baf;
            border-radius: 50%; }
            .memWrap form .col-1 tr td div img {
              width: 70%;
              padding-top: 2%; }
          .memWrap form .col-1 tr td p {
            padding: 10px;
            color: #076baf; }
            .memWrap form .col-1 tr td p input {
              width: 50%;
              padding-top: 5px; }
            .memWrap form .col-1 tr td p img {
              width: 3%; }
    .memWrap form .col-2 {
      width: 100%; }
      .memWrap form .col-2 tr {
        width: 100%;
        height: 30px; }
        .memWrap form .col-2 tr td {
          padding: 2% 3%;
          text-align: center; }
          .memWrap form .col-2 tr td p {
            color: #076baf;
            padding: 1%; }
            .memWrap form .col-2 tr td p input {
              color: #076baf;
              width: 80px;
              background-color: transparent;
              border: 1px solid #fff; }
            .memWrap form .col-2 tr td p img {
              width: 3%; }
      .memWrap form .col-2 tr:nth-child(5) input {
        font-size: 12px; }
    .memWrap form .col-3 {
      width: 100%;
      height: 30px; }
      .memWrap form .col-3 tr td {
        padding: 2% 3%;
        text-align: center;
        height: 35px; }
        .memWrap form .col-3 tr td p {
          color: #076baf;
          line-height: 1.6; }
      .memWrap form .col-3 tr:last-child span {
        color: #f00;
        line-height: 1.6; }

.itemTab2 {
  width: 100%;
  height: auto; }
  .itemTab2 .tab-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .itemTab2 .tab-list li {
      position: relative; }
      .itemTab2 .tab-list li h4 {
        position: absolute;
        top: 32%;
        left: 25%;
        color: #076baf; }
    .itemTab2 .tab-list li:last-child h4 {
      left: 22%; }
  .itemTab2 .tab-panel {
    width: 85%;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    margin: auto; }
  .itemTab2 #tab-1 .description p {
    color: #076baf;
    text-align: center; }
  .itemTab2 #tab-1 .description .specify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; }

@media screen and (max-width: 768px) {
  .memWrap form {
    margin: auto;
    margin-top: 45%; } }

@media screen and (min-width: 769px) {
  .memWrap form {
    margin: auto;
    margin-top: 20%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around; } }
