@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

#index h1 {
  font-size: 72px;
  background-color: #111;
  color: #ccc; }

#index a {
  background-color: #ccc;
  color: crimson;
  border-radius: 5px;
  padding: 10px; }

* {
  outline: 1px solid #f00; }

header {
  width: 100%;
  height: 15vh; }

.customized {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fadfd4; }
  .customized .step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100px; }
    .customized .step .cloud {
      width: 80px;
      height: 80px; }
    .customized .step p {
      text-align: center;
      color: #737374;
      font-weight: 900; }
  .customized .snackHouse {
    width: auto;
    background-color: #df9bac;
    border-radius: 10px;
    border: 19px solid #fca8b7; }
    .customized .snackHouse .roof {
      height: 100px;
      transform: scale(1.1) translateY(-55px); }
    .customized .snackHouse .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px; }
      .customized .snackHouse .container .box {
        width: 50%;
        height: 300px; }
      .customized .snackHouse .container .boxImg {
        width: 50%;
        height: 300px; }

.section_15 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; }

.section_15 .camera {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; }

.section_15 .boxBase {
  border: red 2px solid;
  width: 400px;
  height: 100px;
  position: relative;
  background-color: transparent;
  transform-origin: center center;
  transform: translateZ(-100px) rotateX(-90deg) rotateY(-180deg);
  transform-style: preserve-3d;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center; }

.section_15 .surface {
  background-color: #aaf;
  border: 1px dashed #0000004b;
  position: absolute;
  text-align: center;
  font-size: 60px;
  transform-origin: center center;
  transition: .5s; }

.section_15 .surface_top {
  width: 400px;
  height: 200px;
  transform-origin: top center;
  transform: translate3d(0, 50px, -100px) rotateX(90deg);
  line-height: 200px;
  backface-visibility: hidden; }

.section_15 .surface_top_inner {
  width: 400px;
  height: 200px;
  transform-origin: top center;
  transform: translate3d(0, 50px, -100px) rotateX(90deg) rotateY(180deg);
  line-height: 200px;
  backface-visibility: hidden; }

.section_15 .surface_down {
  width: 400px;
  height: 200px;
  transform: rotateX(-90deg) translateZ(50px);
  line-height: 200px; }

.section_15 .surface_font {
  width: 400px;
  height: 100px;
  transform: rotateY(0deg) translateZ(100px);
  line-height: 100px; }

.section_15 .surface_back {
  width: 400px;
  height: 100px;
  transform: rotateY(180deg) translateZ(100px);
  line-height: 100px; }

.section_15 .surface_left {
  width: 200px;
  height: 100px;
  transform: rotateY(-90deg) translateZ(200px);
  line-height: 100px; }

.section_15 .surface_right {
  width: 200px;
  height: 100px;
  transform: rotateY(90deg) translateZ(200px);
  line-height: 100px; }

.section_15 .surface_top {
  background-color: #076baf; }

.section_15 .surface_down {
  background-color: #076baf; }

.section_15 .surface_font {
  background-color: #fbc84a; }

.section_15 .surface_back {
  background-color: #fbc84a; }

.section_15 .surface_left {
  background-color: #fbc84a; }

.section_15 .surface_right {
  background-color: #fbc84a; }

.section_15 .surface {
  overflow: hidden; }

.section_15 .surface .droped_img {
  display: block;
  cursor: move; }

.section_15 .surface .droped_img.select {
  outline: #000000 dashed 10px;
  transition: 0.3s; }

.section_15 .surface #a1 {
  position: absolute;
  top: 50%;
  left: 50%; }

.section_15 .pics {
  width: 30%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }

.section_15 .pics .pic {
  width: 100px;
  height: 100px;
  cursor: move; }

.section_15 #btns15 {
  width: 25%;
  display: flex;
  justify-content: space-around; }

.section_15 #btns15 .btn {
  width: 100px;
  height: 40px;
  margin: 0px 10px;
  padding: 10px;
  background-color: #ffa;
  text-align: center;
  box-shadow: 2px 2px 5px #0000004b;
  cursor: pointer; }

#ctrl_bar {
  z-index: 10;
  width: 90%;
  display: flex;
  justify-content: space-around; }

#ctrl_bar .btn {
  width: 100px;
  height: 40px;
  margin: 0px 10px;
  padding: 10px;
  background-color: #ffa;
  text-align: center;
  box-shadow: 2px 2px 5px #0000004b;
  cursor: pointer; }
