@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*以下是個人喜好*/
/*圖片隨容器寬變化、去除圖片縫隙*/
img {
  width: 100%;
  vertical-align: bottom; }

/*連結消除底線、字體顏色改為黑色*/
a {
  text-decoration: none;
  color: black; }

a {
  display: block;
  font-family: g2Font;
  color: #737374; }

.cloud {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  top: 0; }
  .cloud .doc--bg2 {
    transform: rotate(180deg);
    width: 100%;
    height: 15vh;
    position: relative;
    overflow: hidden; }
    .cloud .doc--bg2 #canvas {
      width: 100%;
      height: 15vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }

header {
  width: 100%;
  height: 15vh;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 9999; }
  header h1 {
    display: none; }
  header .smalSearch {
    width: 14%;
    height: auto;
    padding: 1%;
    margin-top: 0.3%; }
    header .smalSearch img {
      width: 100%; }
  header nav .menu {
    width: 100%; }
    header nav .menu .logo {
      position: fixed;
      top: 2%; }
      header nav .menu .logo img {
        width: 85px;
        height: 70px; }
    header nav .menu .list li a {
      font-size: 22px; }
    header nav .menu .list li:first-child:hover a {
      color: #53a9f5; }
    header nav .menu .list li:nth-child(2):hover a {
      color: #d88aa2; }
    header nav .menu .list li:last-child:hover a {
      color: #f09c8a; }
    header nav .menu .list #store {
      height: auto; }
      header nav .menu .list #store:hover .subMenu {
        display: block; }
      header nav .menu .list #store a:hover {
        color: #f0dc29; }
      header nav .menu .list #store .subMenu {
        width: 100%;
        display: none; }
        header nav .menu .list #store .subMenu li {
          width: 100%;
          height: auto; }
  header .login li {
    color: #737374; }

@media screen and (max-width: 767px) {
  body {
    margin-top: 50px; }
  .cloud .doc--bg2 #canvas {
    height: 20vh; }
  header .smalSearch {
    display: none; }
  header .menu {
    width: 100%;
    height: auto; }
    header .menu .logo {
      left: 39%; }
    header .menu #ham {
      margin-top: 4%;
      width: 100%;
      height: 30px;
      padding-left: 2%;
      cursor: pointer; }
      header .menu #ham span {
        display: block;
        background-color: #aaa;
        width: 40px;
        height: 5px;
        margin: 8px;
        border-radius: 10px; }
    header .menu #list_appear {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0%;
      left: 0%;
      transition: 0.3s;
      transform: translateX(-100%); }
      header .menu #list_appear.show {
        transform: translateX(0%); }
      header .menu #list_appear #cros {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        cursor: pointer; }
        header .menu #list_appear #cros .leave {
          display: block;
          width: 40px;
          height: 40px;
          font-size: 35px;
          color: #737374;
          position: absolute;
          top: 5%;
          right: 0; }
      header .menu #list_appear .list {
        width: 100%;
        height: 100vh;
        background-color: #8fcfcb; }
        header .menu #list_appear .list li {
          width: 80%;
          height: 100px;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 2%; }
        header .menu #list_appear .list li:nth-child(3) {
          display: none; }
  header .login {
    position: absolute;
    top: 12%;
    right: 0;
    width: 28%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; }
    header .login li {
      width: 30%;
      font-size: 18px;
      line-height: 1.2;
      text-align: center; } }

@media screen and (min-width: 768px) {
  body {
    margin-top: 0; }
  header {
    display: flex;
    justify-content: space-between; }
    header nav {
      width: 100%; }
      header nav .menu .logo {
        display: none; }
      header nav .menu #list_appear {
        width: 100%; }
        header nav .menu #list_appear #cros {
          display: none; }
        header nav .menu #list_appear .list {
          margin-top: 2%;
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          header nav .menu #list_appear .list li {
            line-height: 1.6em;
            padding: 0 10px; }
            header nav .menu #list_appear .list li img {
              width: 120px;
              height: 120px;
              margin-top: 45px; }
          header nav .menu #list_appear .list #store {
            position: relative;
            top: 0%; }
            header nav .menu #list_appear .list #store .subMenu {
              position: absolute;
              top: 80%;
              left: 0px; }
    header .login {
      width: 12%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: -2.3%; }
      header .login li {
        text-align: center;
        width: 30%;
        padding: 1% 3%; }
        header .login li i {
          font-size: 18px; }
      header .login li:first-child {
        width: 20%; }
      header .login li:last-child {
        width: 15%; } }

* {
  box-sizing: border-box; }

@font-face {
  font-family: g2Font;
  src: url(../GenJyuuGothicX-Bold.ttf); }

html {
  font-size: 34px; }

h1, h2, h3, h4, p, span {
  font-family: g2Font;
  line-height: 1.6em; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

p {
  font-size: 16px; }

span {
  font-size: 14px; }

input:focus, select:focus {
  outline: none; }

.cart {
  width: 150px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .cart:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .cart:hover {
      color: #fff;
      background-color: #00457b; }
    .cart:focus {
      outline: none; } }

.detail {
  width: 150px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .detail:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .detail:hover {
      color: #fff;
      background-color: #076baf; }
    .detail:focus {
      outline: none; } }

.step {
  width: 130px;
  height: 45px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .step:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .step:hover {
      color: #fff;
      background-color: #00457b; }
    .step:focus {
      outline: none; } }

.dimension {
  width: 50px;
  height: 50px;
  color: #fbc84a;
  background-color: #fff;
  border: 2px solid #fbc84a;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .dimension:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .dimension:hover {
      color: #737374;
      background-color: #fbc84a; }
    .dimension:focus {
      outline: none; } }

.action {
  width: 120px;
  height: 40px;
  color: #737374;
  background-color: #fbc84a;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .action:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .action:hover {
      color: #fff;
      background-color: #ffb600; }
    .action:focus {
      outline: none; } }

.category {
  width: 120px;
  height: 50px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .category:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .category:hover {
      color: #fff;
      background-color: #076baf; }
    .category:focus {
      outline: none; } }

.goToCustom {
  width: 160px;
  height: 60px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .goToCustom:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .goToCustom:hover {
      color: #fff;
      background-color: #00457b; }
    .goToCustom:focus {
      outline: none; } }

.subscribe {
  width: 210px;
  height: 60px;
  color: #737374;
  background-color: #fcda85;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer; }
  .subscribe:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .subscribe:hover {
      color: #737374;
      background-color: #fbc84a; }
    .subscribe:focus {
      outline: none; } }

.month {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #076baf;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 0px;
  font-family: g2Font;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer; }
  .month:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .month:hover {
      color: #737374;
      background-color: #fbc84a; }
    .month:focus {
      outline: none; } }

.month {
  position: relative; }
  .month::after {
    content: '';
    display: block;
    background-color: #00457b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1; }

.heart, .trash {
  width: 56px;
  height: 45px;
  color: #076baf;
  background-color: #fff;
  border: 2px solid #076baf;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    .heart:hover, .trash:hover {
      background-color: #076baf;
      color: #fff; } }

.numInput {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #076baf;
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  font-family: g2Font;
  text-align: center; }
  .numInput span {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #076baf;
    position: absolute;
    top: -2px;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer; }
  .numInput .numMinus {
    left: 0px;
    border-radius: 10px 0 0 10px; }
  .numInput .numPlus {
    right: 0px;
    border-radius: 0 10px 10px 0; }

input[type=number] {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 22px;
  line-height: 40px;
  font-family: g2Font;
  text-align: center;
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
