.header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 100; }

.btns {
  display: flex;
  width: 80%;
  justify-content: space-around; }

.btn {
  width: 60px;
  height: 40px;
  background-color: #ccc;
  border: #000 solid 1px; }

.section {
  width: 100vw;
  height: 1200px;
  background-color: #ffa;
  border: 1px solid #000; }

.box {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border: 1px solid #000; }

.box_1 {
  position: relative;
  top: 100px;
  left: 500px;
  background-color: #faf; }

.section_3 .camera {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; }

.section_3 .boxBase {
  border: red 2px solid;
  width: 300px;
  height: 100px;
  position: relative;
  background-color: transparent;
  transform-origin: center center;
  transform: translateZ(-100px) rotateX(-30deg) rotateY(-30deg);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center; }

.section_3 .surface {
  background-color: #aaf;
  border: 1px dashed #0000004b;
  position: absolute;
  text-align: center;
  font-size: 60px;
  transform-origin: center center; }

.section_3 .surface_top {
  width: 300px;
  height: 200px;
  transform: rotateX(90deg) translateZ(50px);
  line-height: 200px; }

.section_3 .surface_down {
  width: 300px;
  height: 200px;
  transform: rotateX(-90deg) translateZ(50px);
  line-height: 200px; }

.section_3 .surface_font {
  width: 300px;
  height: 100px;
  transform: rotateY(0deg) translateZ(100px);
  line-height: 100px; }

.section_3 .surface_back {
  width: 300px;
  height: 100px;
  transform: rotateY(180deg) translateZ(100px);
  line-height: 100px; }

.section_3 .surface_left {
  width: 200px;
  height: 100px;
  transform: rotateY(-90deg) translateZ(150px);
  line-height: 100px; }

.section_3 .surface_right {
  width: 200px;
  height: 100px;
  transform: rotateY(90deg) translateZ(150px);
  line-height: 100px; }

.section_3 .surface_top {
  background-color: #fff; }

.section_3 .surface_down {
  background-color: #fff; }

.section_3 .surface_font {
  background-color: #faa; }

.section_3 .surface_back {
  background-color: #aaf; }

.section_3 .surface_left {
  background-color: #afa; }

.section_3 .surface_right {
  background-color: #afa; }

.bgimg {
  width: 500px;
  height: 500px;
  background-image: url(../img/sun_color.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center center;
  opacity: 0.3; }

.group_sec {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden; }

.box_4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 200px;
  height: 200px; }

.snBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  width: 200px;
  height: 200px; }

.aa .camera {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; }

.aa .boxBase {
  border: red 2px solid;
  width: 500px;
  height: 500px;
  position: relative;
  background-color: transparent;
  transform-origin: center center;
  transform: translateZ(-250px) rotateX(-30deg) rotateY(-30deg);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center; }

.aa .surface {
  background-color: #aaf;
  border: 1px dashed #0000004b;
  position: absolute;
  text-align: center;
  font-size: 60px;
  transform-origin: center center; }

.aa .surface_top {
  width: 500px;
  height: 500px;
  transform: rotateX(90deg) translateZ(250px);
  line-height: 500px; }

.aa .surface_down {
  width: 500px;
  height: 500px;
  transform: rotateX(-90deg) translateZ(250px);
  line-height: 500px; }

.aa .surface_font {
  width: 500px;
  height: 500px;
  transform: rotateY(0deg) translateZ(250px);
  line-height: 500px; }

.aa .surface_back {
  width: 500px;
  height: 500px;
  transform: rotateY(180deg) translateZ(250px);
  line-height: 500px; }

.aa .surface_left {
  width: 500px;
  height: 500px;
  transform: rotateY(-90deg) translateZ(250px);
  line-height: 500px; }

.aa .surface_right {
  width: 500px;
  height: 500px;
  transform: rotateY(90deg) translateZ(250px);
  line-height: 500px; }

.aa .surface_top {
  background-color: #fff; }

.aa .surface_down {
  background-color: #fff; }

.aa .surface_font {
  background-color: #faa; }

.aa .surface_back {
  background-color: #aaf; }

.aa .surface_left {
  background-color: #afa; }

.aa .surface_right {
  background-color: #afa; }

.section_6 {
  overflow: hidden;
  height: unset;
  position: relative; }
  .section_6 .setbg {
    width: 100%;
    height: 100vh;
    background-image: url(https://placem.at/places);
    background-color: #000;
    background-size: cover;
    transform-origin: center;
    transform: scale(1.2);
    transition: transform 3s ease-out;
    will-change: transform;
    position: relative;
    z-index: 0; }
    .section_6 .setbg.on {
      transform: scale(1); }
  .section_6 h2 {
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10; }
    .section_6 h2.on {
      font-size: 72px; }

.section_07 {
  height: 500px; }

.section_08 {
  position: relative;
  overflow: hidden; }
  .section_08 .sec_08 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .section_08 .sec_0801 {
    background-color: #ffa; }
  .section_08 .sec_0802 {
    background-color: #faf; }
  .section_08 .sec_0803 {
    background-color: #aff; }

#section_9 .camera {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; }

#section_9 .boxBase {
  border: red 2px solid;
  width: 500px;
  height: 150px;
  position: relative;
  background-color: transparent;
  transform-origin: center center;
  transform: translateZ(-150px) rotateX(-90deg) rotateY(-180deg);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center; }

#section_9 .surface {
  background-color: #aaf;
  border: 1px dashed #0000004b;
  position: absolute;
  text-align: center;
  font-size: 60px;
  transform-origin: center center; }

#section_9 .surface_top {
  width: 500px;
  height: 300px;
  transform-origin: top center;
  transform: translate3d(0, 75px, -150px) rotateX(90deg);
  line-height: 300px; }

#section_9 .surface_down {
  width: 500px;
  height: 300px;
  transform: rotateX(-90deg) translateZ(75px);
  line-height: 300px; }

#section_9 .surface_font {
  width: 500px;
  height: 150px;
  transform: rotateY(0deg) translateZ(150px);
  line-height: 150px; }

#section_9 .surface_back {
  width: 500px;
  height: 150px;
  transform: rotateY(180deg) translateZ(150px);
  line-height: 150px; }

#section_9 .surface_left {
  width: 300px;
  height: 150px;
  transform: rotateY(-90deg) translateZ(250px);
  line-height: 150px; }

#section_9 .surface_right {
  width: 300px;
  height: 150px;
  transform: rotateY(90deg) translateZ(250px);
  line-height: 150px; }

#section_9 .surface_top {
  background-color: #076baf; }

#section_9 .surface_down {
  background-color: #076baf; }

#section_9 .surface_font {
  background-color: #fbc84a; }

#section_9 .surface_back {
  background-color: #fbc84a; }

#section_9 .surface_left {
  background-color: #fbc84a; }

#section_9 .surface_right {
  background-color: #fbc84a; }

#section_9 .surface_top {
  animation: cover_rotate 3s infinite; }

@keyframes cover_rotate {
  100% {
    transform: translate3d(0, 75px, -150px) rotateX(210deg); } }
