// *{
//     outline: 1px solid #f00;
// }

body{
    background-color: #fadfd4;
}

.customized{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: #fadfd4;
    .makingStep{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 800px;
        height:100px;
        margin-bottom:140px;
        .cloud{
            width:120px;
        }
        .step1{
            position: relative;
            &:before {
                content: "1";
                position: absolute;
                top:30px;
                left:50px;
            }
            &:after {
                content: "";
                position: absolute;
                top:38px;
                left:100px;
                width: 150px;
                height:4px;
                background-color: #aedcd3;
            }
        }
        .step2{
            position: relative;
            &:before {
                content: "2";
                position: absolute;
                top:30px;
                left:50px;
            }
            &:after {
                content: "";
                position: absolute;
                top:38px;
                left:100px;
                width: 150px;
                height:4px;
                background-color: #fff;
            }
        }
        .step3{
            position: relative;
            &:before {
                content: "3";
                position: absolute;
                top:30px;
                left:50px;
            }
            &:after {
                content: "";
                position: absolute;
                top:38px;
                left:100px;
                width: 150px;
                height:4px;
                background-color: #fff;
            }
        }
        .step4{
            position: relative;
            &:before {
                content: "4";
                position: absolute;
                top:30px;
                left:50px;
            }
    
        }
        p{
            font-family: g2Font;
            text-align: center;
            color: #737374;
            padding: 5px;
            font-weight: 900;
        }
    }
    .snackHouse{
        height: 520px;
        background-color: #df9bac;
        border-radius:10px;
        border:19px solid #fca8b7;
        // transform: translateY(25px);
        .roof{
            position: relative;
            transform: scale(1.1) translateY(-62px);
        }
        .priceSign{
            position: absolute;
            top: -46px;
            left:325px;
            width: 150px;
            height: 50px;
            text-align: center;
            font-size: 50px;
            line-height: 1;
            color: #fff;
            background-color: #fbc84a;
        }
        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width:100%;
            height:300px;
            .box{
                width: 50%;
                height: 300px;
               
            }
            .boxImg{
                width: 50%;
                height: 300px;
               
            }
        }
    }
}


//六面體，上蓋預留轉動空間，上蓋擁有內側div
@mixin box3D_cover( $boxI:100px,$boxJ:100px,$boxK:100px){
    .camera{
        width:400px;
        height: 135px;
        display: flex;
        justify-content: center;
        perspective:1000px;
        transform: translateY(10px);
    }
    .boxBase{
        // margin: auto;
        width: $boxI;
        height: $boxK;
        position: relative;
        background-color: transparent;
        transform-origin: center center;
        transform: translateZ((-$boxJ/2)) rotateX(-90deg) rotateY(-180deg);
        transform-style: preserve-3d;
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .surface{
        background-color: #aaf;
        border: 1px dashed #0000004b;
        position: absolute;
        text-align: center;
        font-size: 60px;
        transform-origin: center center;
        transition: .5s;
    }
    
    $coverOffsetY:(($boxJ) - ($boxK))/2;
    .surface_top{width: $boxI;height: $boxJ;transform-origin: top center;transform: translate3d(0,$coverOffsetY,-($boxJ/2))  rotateX(90deg) ;line-height:  $boxJ; backface-visibility:hidden;} //translateY(($boxJ-$boxK)/2) translateZ(-($boxJ/2))
    .surface_top_inner{width: $boxI;height: $boxJ;transform-origin: top center;transform: translate3d(0,$coverOffsetY,-($boxJ/2))  rotateX(90deg) rotateY(180deg);line-height:  $boxJ; backface-visibility:hidden;} //translateY(($boxJ-$boxK)/2) translateZ(-($boxJ/2))
    // .surface_top_inner{width: $boxI;height: $boxJ;transform-origin: center center;transform: translate3d(0,0,0)  rotateX(0deg) rotateY(180deg);line-height:  $boxJ; top:0; left:0; backface-visibility:hidden;}
    .surface_down{width: $boxI;height: $boxJ;transform:rotateX(-90deg) translateZ(($boxK/2));line-height:  $boxJ;}
    
    .surface_font{width: $boxI;height: $boxK;transform:rotateY(0deg) translateZ(($boxJ/2));line-height: $boxK;}
    .surface_back{width: $boxI;height: $boxK;transform:rotateY(180deg) translateZ(($boxJ/2));line-height: $boxK;}
    
    .surface_left{width: $boxJ;height: $boxK;transform:rotateY(-90deg) translateZ(($boxI/2));line-height: $boxK;}
    .surface_right{width: $boxJ;height: $boxK;transform:rotateY(90deg) translateZ(($boxI/2));line-height: $boxK;}

    .surface_top{background-color: #076baf;}
    .surface_down{background-color: #076baf;}
    .surface_font{background-color: #fbc84a;}
    .surface_back{background-color: #fbc84a;}
    .surface_left{background-color: #fbc84a;}
    .surface_right{background-color: #fbc84a;}

}



.section_15{
    @include box3D_cover(220px, 120px,70px);
    display: flex;
    position: relative;
    .surface{
            .droped_img{
                display:block;
                // transition: 0.1s;
                cursor: move;
                &.select{
                    //border會佔面積，不太方便
                    outline:#000000 dashed 10px;
                    transition: 0.3s;
                }
            }
            overflow: hidden;
            #a1{
                position: absolute;
                top:50%;
                left:50%;
            }
        }
    // [draggable="true"]{
    //     // user-select: none;
    // }
    .pics{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
   
        .pic{
            flex:5;
            cursor: move;
            // user-select: none;//讓使用者選div，不要選到圖片
        }
    }
        #btns15{
        position: relative;
        z-index: 10;
        display: flex;
        justify-content:center;
            .btn{
                font-size: 30px;
                text-align: center;
                padding:0 15px;
                cursor: pointer;
            }
            img{
                width: 40px;
                height: 40px;
            }
            i{
                font-size: 40px;
            }
    }
}



.leftBox{
    // width: 500px;
    // width:50%;
    //測試頁按鈕
    #ctrl_bar{
        position: absolute;
        z-index:20;
        .btn{
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 5px;
            text-align: center;
            cursor: pointer;
        }
}

}
.showBox{
    transform: translate(20px,61px);
    width: 100%;
    height: 420px;
}    

.stepRegion{
    width: 100%;
    height: 100px;
    text-align: center;


}

$activeColor: #076baf;
$form-bg: #fff;
$main: #fbc84a;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: rgb(18, 17, 17);
$gray: rgb(37, 33, 33);


$bold: 600;





a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}


.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$activeColor;
    }
  }
  .active a {
    background:$main;
    color:$activeColor;
  }
}

.tab-content > div:last-child {
  display:none;
}

.form {
    background:rgba($form-bg,.9);
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:10px;
    box-shadow:0 4px 10px 4px rgba($form-bg,.3);
    border:10px solid #fbc849;
    transform: translateY(-100px);
  }

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($activeColor,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$activeColor;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$activeColor;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
 .pickColor{
     width: 300px;
     height:178px;
    border: 1px solid #faa;
 }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$activeColor;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}