// *{
//     outline: 1px solid #f00;
// }

body{
    background-color: #fadfd4;
}

section {
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


.cus{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.customized{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    background-color: #fadfd4;
    overflow: hidden;
    .makingStep{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 800px;
        height:100px;
        margin-bottom:65px;
        .cloud{
            width:120px;
        }
        .step1{
            position: relative;
            &:before {
                font-family: g2Font;
                content: "1";
                position: absolute;
                top:30px;
                left:50px;
            }
            &:after {
                content: "";
                position: absolute;
                top:38px;
                left: 121px;
                width: 108px;
                height:4px;
                background-color: #fff;
            }
        }
        .step2{
            position: relative;
            &:before {
                font-family: g2Font;
                content: "2";
                position: absolute;
                top:30px;
                left:50px;
            }
            &:after {
                content: "";
                position: absolute;
                top:38px;
                left: 121px;
                width: 108px;
                height:4px;
                background-color: #fff;
            }
        }
        .step3{
            position: relative;
            &:before {
                font-family: g2Font;
                content: "3";
                position: absolute;
                top:30px;
                left:50px;
            }
            &:after {
                content: "";
                position: absolute;
                top:38px;
                left: 121px;
                width: 108px;
                height:4px;
                background-color: #fff;
            }
        }
        .step4{
            position: relative;
            &:before {
                font-family: g2Font;
                content: "4";
                position: absolute;
                top:30px;
                left:50px;
            }
    
        }
        p{
            font-family: g2Font;
            text-align: center;
            color: #737374;
            padding: 5px;
            font-weight: 900;
        }
    }
    .priceSign{
        font-family: g2Font;
        font-size:30px;
        padding: 5px 10px;;
        text-align: center;
        line-height: 1;
        color: #fff;
        background-color: #fbc84a;
        transform: translateY(-50px);
    }
    .snackHouse{
        background-color: #df9bac;
        border-radius:10px;
        border:19px solid #fca8b7;
        // height: 630px;
        .roof{
            position: relative;
            transform: scale(1.1) translateY(-62px);
        }
        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width:100%;
            height:300px;
            .box{
                width: 50%;
                height: 300px;
               
            }
            .boxImg{
                width: 50%;
                height: 300px;
               
            }
        }
    }
}


//六面體，上蓋預留轉動空間，上蓋擁有內側div
@mixin box3D_cover( $boxI:100px,$boxJ:100px,$boxK:100px){
    .camera{
        height:245px;
        display: flex;
        justify-content: center;
        perspective:1000px;
        // transform: translateY(10px);
    }
    .boxBase{
        // margin: auto;
        width: $boxI;
        height: $boxK;
        position: relative;
        background-color: transparent;
        transform-origin: center center;
        transform: translateZ((-$boxJ/2)) rotateX(-90deg) rotateY(-180deg);
        transform-style: preserve-3d;
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .surface{
        background-color: #aaf;
        border: 1px dashed #0000004b;
        position: absolute;
        text-align: center;
        font-size: 60px;
        transform-origin: center center;
        transition: .5s;
    }
    
    $coverOffsetY:(($boxJ) - ($boxK))/2;
    .surface_top{width: $boxI;height: $boxJ;transform-origin: top center;transform: translate3d(0,$coverOffsetY,-($boxJ/2))  rotateX(90deg) ;line-height:  $boxJ; backface-visibility:hidden;} //translateY(($boxJ-$boxK)/2) translateZ(-($boxJ/2))
    .surface_top_inner{width: $boxI;height: $boxJ;transform-origin: top center;transform: translate3d(0,$coverOffsetY,-($boxJ/2))  rotateX(90deg) rotateY(180deg);line-height:  $boxJ; backface-visibility:hidden;} //translateY(($boxJ-$boxK)/2) translateZ(-($boxJ/2))
    // .surface_top_inner{width: $boxI;height: $boxJ;transform-origin: center center;transform: translate3d(0,0,0)  rotateX(0deg) rotateY(180deg);line-height:  $boxJ; top:0; left:0; backface-visibility:hidden;}
    .surface_down{width: $boxI;height: $boxJ;transform:rotateX(-90deg) translateZ(($boxK/2));line-height:  $boxJ;}
    
    .surface_font{width: $boxI;height: $boxK;transform:rotateY(0deg) translateZ(($boxJ/2));line-height: $boxK;}
    .surface_back{width: $boxI;height: $boxK;transform:rotateY(180deg) translateZ(($boxJ/2));line-height: $boxK;}
    
    .surface_left{width: $boxJ;height: $boxK;transform:rotateY(-90deg) translateZ(($boxI/2));line-height: $boxK;}
    .surface_right{width: $boxJ;height: $boxK;transform:rotateY(90deg) translateZ(($boxI/2));line-height: $boxK;}

    .surface_top{background-color: #076baf;}
    .surface_down{background-color: #076baf;}
    .surface_font{background-color: #fbc84a;}
    .surface_back{background-color: #fbc84a;}
    .surface_left{background-color: #fbc84a;}
    .surface_right{background-color: #fbc84a;}

}



.section_15{
    @include box3D_cover(350px,250px,150px);
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    top: -33px;
    .surface{
            .droped_img{
                display:block;
                // transition: 0.1s;
                cursor: move;
                &.select{
                    //border會佔面積，不太方便
                    outline:#e26565 dashed 10px;
                    transition: 0.3s;
                }
            }
            overflow: hidden;
            #a1{
                position: absolute;
                top:50%;
                left:50%;
            }
        }
    // [draggable="true"]{
    //     // user-select: none;
    // }
    .pics{
        width:300px;
        height:300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
   
        .pic{
            flex:5;
            cursor: move;
            // user-select: none;//讓使用者選div，不要選到圖片
        }
    }
        #btns15{
        position: relative;
        z-index: 10;
        display: flex;
        justify-content:center;
        margin: 12px auto;
            .btn{
                font-size: 30px;
                text-align: center;
                padding:0 15px;
                cursor: pointer;
            }
            img{
                width: 40px;
                height: 40px;
            }
            i{
                font-size: 40px;
            }
    }
}

.cardBox{
    width:500px;
    margin:auto;
}

.leftBox{
    display: flex;
    flex:2;
    height: 400px;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    //測試頁按鈕
    #ctrl_bar{
        margin: 12px;
        .btn{
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 5px;
            text-align: center;
            cursor: pointer;
        }
}



}
.showBox{
    width: 100%;
    height: 250px;
}    

.stepRegion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    .mt{
        margin:15px 10px;
    }
}

$activeColor: #076baf;
$form-bg: #fff;
$main: #fbc84a;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: rgb(18, 17, 17);
$gray: rgb(37, 33, 33);


$bold: 600;





a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}


.tab-group-1{
  list-style:none;
  padding:0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    color:$gray-light;
    font-size:20px;
    float:left;
    width:33.333%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
    //   background:$main-dark;
      color:$activeColor;
    }
  }
  .active a {
    background:$main;
    color:$activeColor;
  }
}

.tab-content-1 > div:last-child {
  display:none;
}

.form {
    flex:1;
    background:rgba($form-bg,.9);
    max-width:600px;
    border-radius:10px;
    margin:12px;
    border:10px solid #fbc849;
    a{
        font-family: g2Font;
    }
  }

.top-row {
 .pickColor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:300px;
    .colorBtn{
        width: 50px;
        height: 50px;
        margin: 3px;
        border:2px solid rgb(155, 155, 155);
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    .color1{
        background-color: rgb(246, 132, 132);
    }
    .color2{
        background-color: rgb(99, 151, 219);
    }
    .color3{
        background-color: rgb(105, 255, 138);
    }
    .color4{
        background-color: rgb(245, 132, 255);
    }
    .color5{
        background-color: rgb(250, 230, 116);
    }
 }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child { 
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$activeColor;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}


.pickCard{
    flex: 1;
    color: rgba(105,105,105,1);
    background: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    border-radius: 10px;
    margin: 12px;
    border: 10px solid #fbc849;
    ul{
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        .tab{
            font-family: g2Font;
            text-decoration: none;
            padding: 15px;
            color: #121111;
            font-size: 20px;
            float: left;
            width: 33.333%;
            text-align: center;
            cursor: pointer;
            transition: .5s ease;
        }
        .yellow{
            background-color: #fbc84a;
            color: #076baf;
        }
    }
    .content{
        display: flex;
        flex-direction: row;
        align-items:center;
        width: 100%;
        height: 300px;
        .cardStyle{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .small{
                flex-grow:1;
                width:40%;
                height:100px;
                margin: 4px;
                background-size: 100%;
                cursor: pointer;
            }
        }
        .cardText{
            display: flex;
            flex-direction:column;
            width: 80%;
            margin: auto;
            #text{
                width: 100%;
                height: 30px;
                margin-bottom: 15px;
                border-radius: 10px;
            }
            textarea{
                width: 100%;
                padding: 20px;
                margin-bottom: 15px;
                border-radius: 10px;
              }
        }
        .cardRecord{
            display: flex;
            flex-direction: row;
            width: 80%;
            margin: auto;
        }
    }
}

.shopping{
    width: 100%;
    height:396px;   
    .goodBox{
        flex: 1;
        color: rgba(105,105,105,1);
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        margin: 12px;
        border: 10px solid #fbc849;
        ul{
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: center;
            .good{
                font-family: g2Font;
                text-decoration: none;
                padding: 15px;
                color: #121111;
                font-size: 20px;
                float: left;
                width: 33.333%;
                text-align: center;
                cursor: pointer;
                transition: .5s ease;
            }
            .yellow{
                background-color: #fbc84a;
                color: #076baf;
            }
        }
        .good-content{
            display: flex;
            flex-flow:wrap row;
            align-items:center;
            width: 100%;
            height: 300px;
            .item{
                display: flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 150px;
                border:5px solid #fbc84a;
                .name{
                    display: flex;
                    flex: 1;
                    flex-direction:row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    img{                        
                        width:80px;
                    }
                    .price{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-size:20px;
                            margin: 10px;
                        }
                        span{
                            font-size: 25px;
                            color: #076baf;
                        }
                    }
                }
                .addCart{
                    width: 130px;
                    height: 30px;
                    font-size: 18px;
                    margin:12px;
                }
            }
        }
}
}



@media screen and (max-width:768px){
    .customized{
        .makingStep{
            justify-content:space-between;
            align-items: center;
            width:350px;
            margin-bottom:30px;
            .step1{
                &:before{
                    top:20px;
                    left:40px;
                }
                &:after {
                display: none;}
            }
            .step2{
                &:before{
                    top:20px;
                    left:40px;
                }
                &:after {
                display: none;}
            }
            .step3{
                &:before{
                    top:20px;
                    left:40px;
                }
                &:after {
                display: none;}
            }
            .step4{
                &:before{
                    top:20px;
                    left:40px;
                }
                &:after {
                display: none;}
            }
        }
        .priceSign{
            position: relative;
            top: 58px;
            z-index: 88;
            right: -35%;
            transform: inherit;
        }
        .snackHouse{
            width: 100%;
            height: 100%;
        }
        .section_15{
            @include box3D_cover(250px,200px,100px);
            width: 100%;
            flex-direction: column;
            align-items: center;
            .leftBox {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 450px;
                .camera{
                    height: 250px;
                    .boxBase{
                        position: relative;
                        top: 60px;
                    }
                }
                #ctrl_bar{
                    display: flex;
                }
            }
            .cardBox{
                width: 100%;
            }
            .pickCard{
                width: 100%;
                .cardText{
                    width: 100%;
                    margin: auto;
                }
                .cardRecord{
                    width:100%;
                    margin: auto;
                }
            }
            .pics{
                width: 100%;
            }
        }
    }
    .form{
        width: 90%;
    }
}