#index{
    h1{
        font-size: 72px;
        background-color: #111;
        color: #ccc;
    }
    a{
        background-color: #ccc;
        color: crimson;
        border-radius: 5px;
        padding: 10px;
    }
}