@import 'common';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    line-height: 1.6em;
}

a {
    color: #076baf; 
}

.clearfix {
    width: 100%;
    height: 0;
    clear: both; 
}
// form
input,select,option {
    font-family: g2Font;
    src: url(../GenJyuuGothicX-Bold.ttf);
    margin: 5px;
}

#serch_title {
    background-color: #f09c8a;
}

#google_serch {
    margin: auto;
}

#serch_bar {
    width: 20%;
    float: left;
    margin-left: 10%;
}

#serch_input {
    width: 50%; 
    float: left;
}

.serch {
    width: 10%;
    float: left;
}



#map img{
    width: 100%;
}

#serch_form {
    background-color: #f09c8a;
}
#serch_title {
    text-align: center;
}

// 地圖篩選 

.map_serch_box{
    width: 98%;
    border: 1px solid #E6E6E6;
    margin: 10px auto;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.09);

    .map_serch_item_pic {
        float: left;
        width: 44%;
        margin-top: 5px;
        img {
            width: 100%;
        }
    }

    .map_serch_item_info {
        float: left;
        padding:0 10px;
        // width: 50%;

        .map_serch_item_info_point, .map_serch_item_info_distance, .map_serch_info_line,{
            margin-top: 5px; 
        }

        
    }

   

}

@media screen and (min-width: 992px){
    // #google_serch {
    //     // width: 30%;
    // }
    
    #serch_bar {
        width: 10%;
        margin-left: 20%;
    }
    
    #serch_input {
        width: 30%; 
       
    }
    
    .serch {
        width: 10%;
    }
}