@import "reset.scss";
@import "common.scss";
body {
    background-color: #b8f1ed;
    width: 100%;
    height: 100%;
}

.index {
    width: 100%;
    height: 100%;
    section {
        width: 100%;
        position: relative;
        .worldMap {
            overflow: hidden;
            max-width: 1200px;
            margin: auto;
            text-align: center;
            position: relative;
            >img {
                width: 900px;
                min-width: 600px;
                margin: 150px;
            }
            .countryMap {
                .countryImg {
                    width: 50px;
                    position: absolute;
                    animation: ccc 1s linear;
                    img{
                        position: relative;
                        z-index: 1;
                    }
                    @keyframes ccc {
                        0%{transform: translateY(-900px)}
                        100%{transform: translateY(0px)}
                    }
                    .countryInfo{
                        width: 700px;
                        background-color: rgba(255,255,255,0.8);
                        border-radius: 10px;
                        .countryInfoHeader{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            text-align: center;
                            .countryInfoRadar{
                                height: 200px;
                                width: 200px;
                            }
                            .countryInfoImg{
                                width: 150px;
                            }
                            .countryInfoStar{
                                width: 150px;
                                li{
                                    font-size: 22px;
                                    color: #737374;
                                }
                            }
                        }
                    }
                }
                // .countryImg:hover {

                // }
                .countryImg:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: 10px;
                    left: 5px;
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 10px 30px #fff;
                    opacity: .5;
                    z-index: 1;
                    animation: aaa 1.5s linear infinite alternate;
                }
                >:nth-child(1) {
                    top: 310px;
                    left: 310px;
                }
                >:nth-child(2) {
                    top: 290px;
                    left: 610px;
                }
                >:nth-child(3) {
                    top: 510px;
                    left: 380px;
                }
                >:nth-child(4) {
                    top: 150px;
                    left: 450px;
                }
                >:nth-child(5) {
                    top: 420px;
                    left: 560px;
                }
                >:nth-child(6) {
                    top: 180px;
                    left: 1000px;
                }
                >:nth-child(7) {
                    top: 330px;
                    left: 950px;
                }
                >:nth-child(8) {
                    top: 540px;
                    left: 910px;
                }
            }
            #container {
                position: absolute;
                height: 100vh;
                width: 100%;
                top: 0;
                left: 0;
            }
            .snackMap{
                .snackImg{
                    width: 100px;
                    position: absolute;
                }
                >:nth-child(1) {
                    top: 140px;
                    width: 150px;
                    left: 160px;
                }
                >:nth-child(2) {
                    top: 170px;
                    left: 680px;
                }
                >:nth-child(3) {
                    top: 590px;
                    left: 220px;
                    width: 170px;
                }
                >:nth-child(4) {
                    top: 100px;
                    left: 500px;
                    width: 90px;
                }
                >:nth-child(5) {
                    top: 520px;
                    left: 560px;
                    width: 90px;
                }
                >:nth-child(6) {
                    top: 90px;
                    left: 910px;
                    width: 90px;
                }
                >:nth-child(7) {
                    top: 320px;
                    left: 1000px;
                }
                >:nth-child(8) {
                    top: 500px;
                    left: 960px;
                    width: 150px;
                }
            }
            @keyframes aaa {
                0%{transform: scale(0.6)}
                100%{transform: scale(0.8)}
            }
        }
        .cloudMap{
            .cloudImg{
                width: 100px;
                position: absolute;
            }
            >:nth-child(1) {
                top: 50px;
                left: 80px;
                width: 50px;
            }
            >:nth-child(2) {
                top: 170px;
                left: 100px;
            }
            >:nth-child(3) {
                top: 70px;
                left: 250px;
            }
            >:nth-child(4) {
                top: 50px;
                right: 80px;
            }
            >:nth-child(5) {
                top: 170px;
                right: 100px;
                width: 50px;
            }
            >:nth-child(6) {
                top: 70px;
                right: 250px;
                width: 50px;
            }

        }
        .balloonMap{
            .ballImg{
                width: 80px;
                position: absolute;
            }
            >:nth-child(1) {
                top: 430px;
                left: 110px;
                animation: bbb 3s linear infinite alternate;
            }
            >:nth-child(2) {
                top: 370px;
                right: 30px;
                animation: bbb 2s infinite alternate-reverse;
            }
            @keyframes bbb {
                0%{transform: translateY(0)}
                100%{transform: translateY(-100px)}
            }
        }
        @media screen and (min-width:768px) {
            .worldMap {
                overflow: unset;
            }
        }
    }
}