@import "reset.scss";
@import "common.scss";
body {
    background-color: #b8f1ed;
    width: 100%;
    height: 100%;
}

.index {
    width: 100%;
    height: 100%;
    .section {
        width: 100%;
        height: 670px;
        position: relative;
        .worldMap {
            max-width: 1200px;
            position: relative;
            margin: auto;
            .countryMap {
                height: 600px;
                width: 1200px;
                margin: 70px auto;
                position: absolute;
                background-image: url(../images/index/map.svg);
                background-size: 800px;
                background-repeat: no-repeat;
                background-position-x: center;
                .countryImg {
                    width: 50px;
                    position: absolute;
                    // animation: ccc 1s linear;
                    img{
                        position: relative;
                        z-index: 1;
                    }
                    // @keyframes ccc {
                    //     0%{transform: translateY(-900px)}
                    //     100%{transform: translateY(0px)}
                    // }
                    .countryInfo{
                        transition: 1s;
                        display: none;
                        position: relative;
                        z-index: 2;
                        width: 500px;
                        background-color: rgba(255,255,255,0.9);
                        border-radius: 10px;
                        .countryInfoHeader{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .countryInfoRadar{
                                height: 180px;
                                width: 180px;
                            }
                            .countryInfoImg{
                                width: 130px;
                            }
                            .countryInfoStar{
                                width: 130px;
                                li{
                                    font-size: 22px;
                                    font-family: g2Font;
                                    color: #737374;
                                }
                            }
                        }
                        .countryInfosection{
                            color: #737374;
                            width: 400px;
                            margin: auto;
                            h2{
                                text-align: center;
                            }
                        }
                        .countryInfofooter{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 20px 0;
                            .countryInfoPrice{
                                color: #737374;
                                span{font-size: 28px;}
                            }
                        }
                    }
                }
                .countryImg:hover .countryInfo{
                    display: block;
                }
                .countryImg:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: 10px;
                    left: 5px;
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 10px 30px #fff;
                    opacity: .5;
                    z-index: 1;
                    animation: aaa 1.5s linear infinite alternate;
                }
                >:nth-child(1) {
                    top: 140px;
                    left: 330px;
                }
                >:nth-child(2) {
                    top: 110px;
                    left: 610px;
                }
                >:nth-child(3) {
                    top: 300px;
                    left: 390px;
                }
                >:nth-child(4) {
                    top: 0px;
                    left: 460px;
                }
                >:nth-child(5) {
                    top: 240px;
                    left: 560px;                
                }
                >:nth-child(6) {
                    top: 20px;
                    left: 950px;
                }
                >:nth-child(7) {
                    top: 160px;
                    left: 900px;
                }
                >:nth-child(8) {
                    top: 350px;
                    left: 870px;
                }
            }
            #container {
                position: absolute;
                height: 600px;
                width: 100%;
                top: 0;
                left: 0;
            }
            .snackMap{
                margin: auto;
                transition: 2s;
                .snackImg{
                    width: 100px;
                    position: absolute;
                    // z-index: 666;
                }
                >:nth-child(1) {
                    top: 120px;
                    width: 150px;
                    left: 150px;
                }
                >:nth-child(2) {
                    top: 70px;
                    left: 680px;
                }
                >:nth-child(3) {
                    top: 460px;
                    left: 250px;
                    width: 170px;
                }
                >:nth-child(4) {
                    top: 30px;
                    left: 510px;
                    width: 90px;
                }
                >:nth-child(5) {
                    top: 400px;
                    left: 580px;
                    width: 90px;
                }
                >:nth-child(6) {
                    top: 10px;
                    left: 860px;
                    width: 90px;
                }
                >:nth-child(7) {
                    top: 210px;
                    left: 960px;
                }
                >:nth-child(8) {
                    top: 380px;
                    left: 920px;
                    width: 150px;
                }
            }
            @keyframes aaa {
                0%{transform: scale(0.6)}
                100%{transform: scale(0.8)}
            }
        }
        .cloudMap{
            .cloudImg{
                width: 100px;
                position: absolute;
            }
            >:nth-child(1) {
                top: 50px;
                left: 80px;
                width: 50px;
            }
            >:nth-child(2) {
                top: 170px;
                left: 100px;
            }
            >:nth-child(3) {
                top: 70px;
                left: 250px;
            }
            >:nth-child(4) {
                top: 50px;
                right: 80px;
            }
            >:nth-child(5) {
                top: 170px;
                right: 100px;
                width: 50px;
            }
            >:nth-child(6) {
                top: 70px;
                right: 250px;
                width: 50px;
            }

        }
        .balloonMap{
            .ballImg{
                width: 80px;
                position: absolute;
            }
            >:nth-child(1) {
                top: 430px;
                left: 110px;
                animation: bbb 3s infinite alternate;
            }
            >:nth-child(2) {
                top: 370px;
                right: 30px;
                animation: bbb 2s infinite alternate-reverse;
            }
            @keyframes bbb {
                0%{transform: translateY(0)}
                100%{transform: translateY(-100px)}
            }
        }
        @media screen and (min-width:768px) {
            .worldMap {
                overflow: unset;
            }
        }
    }


    .section_12{
        background-image: url(../images/index/cheese.png);
        background-repeat: no-repeat;
        height: 1340px;
        background-position-y: 60px;
        margin: 20px auto;
        position: relative;
        
        .LeaderboardTitle{
            background-image: url(../images/index/title-cloud.png);
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            height: 160px;
            position: absolute;
            top: 240px;
            left: 0;
            right: 0;
            // position: relative;
            h2{
                line-height: 160px;
                color: $blue;
            }
            #celebration{
                position: absolute;
                margin: auto;
                top: -140px;;
                right: 0;
                left: 0;
            }
        }
        .LeaderboardCount{
            width: 1200px;
            height: 700px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            .LeaderboardNo2{
                align-self: center;
            }
            .LeaderboardNo3{
                align-self: flex-end;
            }            
            .Crown{
                width: 100px;
                margin: auto;
                position: relative;
                h2{
                    color: #fff;
                    position: absolute;
                    text-align: center;
                    top: 20px;
                    right: 0;
                    left: 0;
                }
            }
            .No2{
                background-image: url(../images/index/blue-pack.png);
                background-repeat: no-repeat;
                background-size: 280px;
                .commodityImg{
                    img{
                        width: 38%;
                    }
                }
            }
            .No1{
                background-image: url(../images/index/red-pack.png);
                background-repeat: no-repeat;
                background-size: 280px;
                .commodityImg{
                    img{
                        width: 40%;
                    } 
                }
            }
            .No3{
                background-image: url(../images/index/green-pack.png);
                background-repeat: no-repeat;
                background-size: 280px;
                align-self: end;
                .commodityImg{
                    img{
                        width: 50%;
                    }
                }
            }
            .Leaderboarditem{
                width: 280px;
                height: 480px;
                position: relative;
                .LeaderboarCountry{
                    width: 40px;
                    padding-top: 30px;
                    position: absolute;
                    right: 15px;
                }
                .commodity{
                    text-align: center;
                    padding: 50px 0;
                    .commodityImg{
                        margin: auto;
                        width: 280px;
                        height: 220px;
                    }
                }
                .commodityPrice{
                    p{
                        font-size: 28px;
                    }
                }
                .commodityStar{
                    width: 150px;
                    margin: auto;
                }
            }
        }
        .LeaderboardIcon{
            .lbIconImg{
                position: absolute;
            }
            >:nth-child(1){
                bottom: 65%;
                left: 22%;
                animation: float 1.8s linear infinite alternate-reverse;
            }
            >:nth-child(2){
                bottom: 51%;
                left: 4%;
                animation: float 2s linear infinite alternate;
            }
            >:nth-child(3){
                bottom: 30%;
                left: 8%;
                animation: float 1.4s linear infinite alternate-reverse;
            }
            >:nth-child(4){
                bottom: 56%;
                left: 80%;
                animation: float 1.2s linear infinite alternate;
            }
            >:nth-child(5){
                bottom: 15%;
                left: 40%;
                animation: float 1.6s linear infinite alternate-reverse;
            }
            >:nth-child(6){
                bottom: 13%;
                left: 90%;
                animation: float 1s linear infinite alternate;
            }
            >:nth-child(7){
                bottom: 43%;
                left: 95%;
                animation: float 1.4s linear infinite alternate-reverse;            
            }
            >:nth-child(8){
                bottom: 32%;
                left: 83%;
                animation: float 1.8s linear infinite alternate;
            }
            >:nth-child(9){
                bottom: 40%;
                left: 58%;
                animation: float 1.6s linear infinite alternate-reverse;
            }
            @keyframes float {
                0%{transform: translateY(-10px)}
                100%{transform: translateY(10px)}
            }
        }
        .LeaderboardSort{
            margin: 80px;
            text-align: center;
            :nth-child(2),:nth-child(3),:nth-child(4){
                border-radius: 0px;
            }
            :nth-child(1){
                border-radius: 10px 0 0 10px;
            }
            :nth-child(5){
                border-radius: 0 10px 10px 0;
            }
        }
    }


    .customized{
        background-image: url(../images/index/background.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 1000px;
        margin-bottom: 100px;
        overflow: hidden;
        position: relative;
        .waveTop{
            position: absolute;
            top: -80px;
            left: 0;
            width: 1920px;
        }
        .LeaderboardTitle{
            background-image: url(../images/index/title-cloud.png);
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            height: 300px;
            padding: 110px 0;
            position: relative;
            h2{
                line-height: 70px;
                color: $blue;
            }
        }
        .customizedCount{
            display: flex;
            justify-content: space-around;
        }
    }
}