@import "reset.scss";
@import "common.scss";
body {
    background-color: #b8f1ed;
    width: 100%;
    height: 100%;
}

.index {
    width: 100%;
    height: 100%;
    .section {
        width: 100%;
        height: 670px;
        position: relative;
        .worldMap {
            max-width: 1200px;
            position: relative;
            margin: auto;
            .countryMap {
                height: 600px;
                width: 1200px;
                margin: 150px auto;
                position: absolute;
                background-image: url(../images/index/map.svg);
                background-size: 800px;
                background-repeat: no-repeat;
                background-position-x: center;
                .countryImg {
                    width: 50px;
                    position: absolute;
                    // animation: ccc 1s linear;
                    img{
                        position: relative;
                        z-index: 1;
                    }
                    // @keyframes ccc {
                    //     0%{transform: translateY(-900px)}
                    //     100%{transform: translateY(0px)}
                    // }
                    .countryInfo{
                        transition: 1s;
                        display: none;
                        position: relative;
                        z-index: 2;
                        width: 500px;
                        background-color: rgba(255,255,255,0.9);
                        border-radius: 10px;
                        .countryInfoHeader{
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            .countryInfoRadar{
                                height: 180px;
                                width: 180px;
                            }
                            .countryInfoImg{
                                width: 130px;
                            }
                            .countryInfoStar{
                                width: 130px;
                                li{
                                    font-size: 22px;
                                    font-family: g2Font;
                                    color: #737374;
                                }
                            }
                        }
                        .countryInfosection{
                            color: #737374;
                            width: 400px;
                            margin: auto;
                            h2{
                                text-align: center;
                            }
                        }
                        .countryInfofooter{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 20px 0;
                            .countryInfoPrice{
                                color: #737374;
                                span{font-size: 28px;}
                            }
                        }
                    }
                }
                .countryImg:hover .countryInfo{
                    display: block;
                }
                .countryImg:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: 10px;
                    left: 5px;
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 10px 30px #fff;
                    opacity: .5;
                    z-index: 1;
                    animation: aaa 1.5s linear infinite alternate;
                }
                >:nth-child(1) {
                    top: 140px;
                    left: 330px;
                }
                >:nth-child(2) {
                    top: 110px;
                    left: 610px;
                }
                >:nth-child(3) {
                    top: 300px;
                    left: 390px;
                }
                >:nth-child(4) {
                    top: 0px;
                    left: 460px;
                }
                >:nth-child(5) {
                    top: 240px;
                    left: 560px;                
                }
                >:nth-child(6) {
                    top: 20px;
                    left: 950px;
                }
                >:nth-child(7) {
                    top: 160px;
                    left: 900px;
                }
                >:nth-child(8) {
                    top: 350px;
                    left: 870px;
                }
            }
            #container {
                position: absolute;
                height: 600px;
                width: 100%;
                top: 0;
                left: 0;
            }
            .snackMap{
                margin: auto;
                transition: 2s;
                .snackImg{
                    width: 100px;
                    position: absolute;
                    z-index: 666;
                }
                >:nth-child(1) {
                    top: 200px;
                    width: 150px;
                    left: 150px;
                }
                >:nth-child(2) {
                    top: 180px;
                    left: 690px;
                }
                >:nth-child(3) {
                    top: 560px;
                    left: 260px;
                    width: 170px;
                }
                >:nth-child(4) {
                    top: 100px;
                    left: 520px;
                    width: 90px;
                }
                >:nth-child(5) {
                    top: 500px;
                    left: 580px;
                    width: 90px;
                }
                >:nth-child(6) {
                    top: 100px;
                    left: 860px;
                    width: 90px;
                }
                >:nth-child(7) {
                    top: 300px;
                    left: 960px;
                }
                >:nth-child(8) {
                    top: 480px;
                    left: 920px;
                    width: 150px;
                }
            }
            @keyframes aaa {
                0%{transform: scale(0.6)}
                100%{transform: scale(0.8)}
            }
        }
        .cloudMap{
            .cloudImg{
                width: 100px;
                position: absolute;
            }
            >:nth-child(1) {
                top: 50px;
                left: 80px;
                width: 50px;
            }
            >:nth-child(2) {
                top: 170px;
                left: 100px;
            }
            >:nth-child(3) {
                top: 70px;
                left: 250px;
            }
            >:nth-child(4) {
                top: 50px;
                right: 80px;
            }
            >:nth-child(5) {
                top: 170px;
                right: 100px;
                width: 50px;
            }
            >:nth-child(6) {
                top: 70px;
                right: 250px;
                width: 50px;
            }

        }
        .balloonMap{
            .ballImg{
                width: 80px;
                position: absolute;
            }
            >:nth-child(1) {
                top: 430px;
                left: 110px;
                animation: bbb 3s infinite alternate;
            }
            >:nth-child(2) {
                top: 370px;
                right: 30px;
                animation: bbb 2s infinite alternate-reverse;
            }
            @keyframes bbb {
                0%{transform: translateY(0)}
                100%{transform: translateY(-100px)}
            }
        }
        @media screen and (min-width:768px) {
            .worldMap {
                overflow: unset;
            }
        }
    }


    .section_12{
        background-image: url(../images/index/cheese.png);
        background-repeat: no-repeat;
        height: 1090px;
        background-position-y: 60px;
        margin: 20px auto;
        position: relative;
        
        .LeaderboardTitle{
            background-image: url(../images/index/title-cloud.png);
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            height: 160px;
            position: absolute;
            top: 340px;
            left: 0;
            right: 0;
            h2{
                line-height: 150px;
                color: $blue;
            }
        }
        .LeaderboardCount{
            width: 1200px;
            margin: auto;
            .Crown{
                width: 100px;
            }
            .No2{
                background-image: url(../images/index/blue-pack.png);
                background-repeat: no-repeat;
                background-size: 280px;
                .commodityImg{
                    width: 45%;
                }
            }
            .No1{
                background-image: url(../images/index/red-pack.png);
                background-repeat: no-repeat;
                background-size: 280px;
                .commodityImg{
                    width: 50%;
                }
            }
            .No3{
                background-image: url(../images/index/green-pack.png);
                background-repeat: no-repeat;
                background-size: 280px;
                .commodityImg{
                    width: 50%;
                }
            }
            .Leaderboarditem{
                width: 280px;
                .LeaderboarCountry{
                    width: 30px;
                }
            }
        }
    }
}