// *{
//     outline: 1px solid #f00;
// }
$tabColor:#076baf;
$deepyellow: #ffb600;
$p:22px;

body{
    background-color: #b8f1ed;
    
}

.memWrap{
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
   
    form{
        width: 85%;
        // margin: 45% auto 10% auto;
        height: auto;
        padding: 45px;
        background-color: #fff;
        border-radius: 10px;
        //---------大頭貼上傳------------
    .col-1{
        width: 100%;
        height: 100px;
        
        tr{
            width: 100%;
            height: 80px;
            td{
                
                text-align: center;
                padding-top: 1%;
                div{
                   margin: auto;
                   margin-top: 5%; 
                    width: 30%;
                    border: 2px dotted #076baf;
                    border-radius: 50%;
                     
                    img{
                        width: 80%; 
                        padding-top: 2%;
                                                 
                        }
                }
            label{
                p{
                    font-family: g2Font;
                    font-size: $p;
                    padding: 10px; 
                    color: #076baf;
                    img{
                        width: 3%;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                     
                 }
                 input{
                    width: 50%;
                   padding-top: 5px;
                   display: none;
                   &:focus{
                       outline: none;
                   }
                }
                 

            } 
                

            }
            
        
        }

    }
    //-------------基本資料------------------------
    .col-2{
        width: 100%;
        padding: 30px;
        tr{
            width: 100%;
            // height: 30px;
            
            td{
                padding: 2% 3%;
                text-align: center;

                p{
                    font-family: g2Font;
                    color: #076baf;
                    font-size: $p;
                    // padding: 1% ;
                    input{
                        color: #076baf;
                        width: 80px;
                        background-color: transparent;
                        border: 1px solid #fff;
                        font-family: g2Font;
                        font-size: 16px;
                        
                        &:focus{
                            outline: none;
                        }
                        
                    }
                    img{
                        width: 3%; 
                        vertical-align: unset;                 
                    }
                }
            }
        
            
            
        }
        
            
        }
        
    }
    //----------- 成就等級------------
    .col-3{
        width: 100%;
        // height: 30px;
        tr{
            td{
                padding: 2% 3%;
                text-align: center;
                height: 35px;
               
                p{
                    font-family: g2Font;
                    font-size: $p;
                    color: #076baf;
                    line-height: 1.6;
                    span{
                        font-size: 16px;
                        font-family: g2Font;
                    }
                }
            }
            

        }
        tr:last-child{
            
            span{
                font-size: 16px;
                color: #f00;
                line-height: 1.6;
                font-family: g2Font;
                
                }
            }
        } 
    }
    

//-------------------------以下為頁籤頁面---------------------------

.itemTab2{
    max-width: 1200px;
    width: 100%;
    // height: 100vh;
    margin: 10% auto;
    
    
    
    
   //--------------------------頁籤-------------------------- 
   
    
    .tabContainer{
        
        .tabs{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: auto;

            .tablinks{
                margin: 3%;
                
                h4{
                    line-height: 1.6;
                }
                h4:hover{
                    border: 2px solid $deepyellow;
                    color: $deepyellow;
                    background-color: #fff;
                    
                }
                
            }
            .tablinks.active{
                
                border-radius: 10px;
            }
            li:last-child{
                width: 150px;
            }
          
        }

    }

//---------------------------頁籤內容---------------------- 
.wrapTabPanel{
    position: relative;
    width: 100%;
    // height: auto;
    .tabPanel{
        width: 85%;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    
    }
    
    //-------------累積成就----------------
    #tab-1{
        .levelInfor{
            width: 100%;
            // height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                font-size: 10px;
                line-height: 2;
                color:$tabColor;
                font-family: g2Font; 
            }
            .topLevel{
                // position: relative;
               width: 100%;
               display: flex;
               justify-content: space-evenly;
               align-items: flex-start;
               padding: 2% 0;
               
               
            }
            .procBar{
                position: relative;
                .baby{
                    width: 8%;
                    // height: 100%;
                    position: absolute;
                    top: 20%;
                    left: 2%;
                    img{
                        width: 100%;
                    } 
                    
    
                }
                .colorBar{
                    border: 1px solid #000;
                    border-radius: 15px;
                    width: 90%;
                    height: 60px;
                    margin: auto;
                    .nowPro{
                        width: 16%;
                        height: 100%;
                        background-color: #f8dcd3;
                        border-radius: 15px 0 0 15px;
                    }
    
                }
                .kid{
                    position: absolute;
                    top: 68%;
                    left: 15%;
                    width: 8%;
                    // height: 100%;
                    img{
                        width: 100%;
                    }
                }
                
            }
            .bottumLevel{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 2%;
            }
        }
        .description{
            h4{
                font-family: g2Font;
                color: $tabColor; 
                text-align: center;
                line-height: 2;
            }
            
            .specify{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .col4{
                    width: 50%;
                    p{
                        font-size: 18px;
                        line-height: 2;
                        padding-left: 2%;
                        color: $tabColor;
                        font-family: g2Font; 
                        
                    }
                    
                    li{
                        line-height: 1.6;
                        color: $tabColor;
                        font-family: g2Font;
                        padding-left: 2%;
                    }
                } 
    
                
            }
            .btnn{
                text-align: center;
                .goToCustom{
                    height: 30px;
                    font-size: 20px;
                    line-height: 0.6;
                    margin-bottom: 1%;
    
                }
            }
            
            
        }
    }
    //----------------訂單管理--------------
    #tab-2{
    
        .orderList{
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            
            table{
                line-height: 1.6;
                
                th{
                   
                    color: $tabColor;
                    font-size: 16px;
                    font-family: g2Font;
                }
                td{
                    color: $tabColor;
                    font-size: 15px;
                    font-family: g2Font;
                }
            }
            table:first-child{
                
                th{
                    width: 30%;
                    padding: 1% 3%;
                }   
                
    
            }
            table:last-child{
                th{
                    width: 33%;
                    padding: 1% 3%;
                }
            }
                        
                
                
            }
            .total{
                text-align: right;
                padding: 1% 2%; 
                p{
                    line-height: 1.6;
                    color: $tabColor;
                    font-family: g2Font;
                }
            }
            #listMore{
                text-align: center;
                a{
                    color: $tabColor; 
                    font-family: g2Font;
                    line-height: 2;
                }
                
                
    
            }
            
    
        }
    //-----------------收藏品---------------------
    #tab-3{
        .collect{
            text-align: center;
            
             p{
                font-family: g2Font;
                color: $tabColor; 
                line-height: 10;
               
                }
            }
        
        }
    //---------------優惠券--------------------------    
        #tab-4{
            width: 85%;
            table{
                margin: auto;
                width: 100%;
                tr:first-child{
                    border-bottom: 2px solid #076baf;
                    text-align: center;
                    th{
                        // width: 50%;
                        line-height: 3;
                        color: $tabColor;
                        font-family: g2Font;
                        font-size: 16px;
                    }
                }
                tr:last-child{
                    td{
                        text-align: center;
                        vertical-align: middle;
                        padding: 2%;
                        font-family: g2Font;
                        color: $tabColor;
                        font-size: 12px;
                        margin-right: 1%;
                    }
                }
            }
        }
        

    }      
    
    
}   
      


//--------------------手機RWD-------------------------------

@media screen and(max-width:768px){
    .memWrap{
        form{
            margin: auto ;
            margin-top: 35%;

        }
        
    }
    .itemTab2{
        
        .tabContainer{
            #tab-1{
                .description{
                    h4{
                        font-size: 25px;
                    }
                    
                    .specify{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .col4{
                            width: 50%;
                            p{
                                font-size: 18px;
                                line-height: 2;
                                padding-left: 2%;
                                color: $tabColor;
                                font-family: g2Font; 
                                
                            }
                            li{
                                padding: 2%;
                                font-size: 15px;
                                line-height: 1.6;
                                color: $tabColor;
                                font-family: g2Font;
                            }
                        }  
                        
                    }
            
                
                }
                
            }
        }
    }
    footer{
        #floor{
            display: none;
            position: unset;
        }
        
    }
    
    
}
//------------------桌機ＲＷＤ--------------------------

@media screen and(min-width:769px){
    .memWrap{
        
        form{
            margin: auto;
            margin-top: 15%;
            // height: 33vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: space-around;
            .col-1{
                margin: auto;
                tr{
                    td{
                        padding-top: 0%;
                        div{
                            width: 65%;
                            margin-top: 0%;
                            img{
                                width: 78%;
                                label{
                                    p{
                                        
                                        img{
                                            width: 3%;
                                        }
                                         
                                     }     
                    
                                } 
                            }
                        }
                    }
                }
            }
            .col-2{
                
                tr{                
                    td{                          
                        p{
                            font-size: $p;                           
                            input{                               
                                font-size: 18px;                                
                            }
                            img{
                                width: 5%; 
                                vertical-align: unset;                 
                            }
                            }
                        }                      
                    }              
                    
                }  
            }
            //----------- 成就等級------------
            .col-3{         
                tr{
                    td{                      
                        p{
                            font-size: $p;                       
                            span{
                                font-size: $p;
                            }
                        }
                    }   
        
                    }   
                } 
            }       

    .itemTab2{
        margin: 5% auto;
        height: auto;
        .tabContainer{
            .tabs{
                flex-direction: no-wrap;
            }

        }
        .wrapTabPanel{
            .tabPanel{
                max-width: 1200px;
            }

            #tab-1{
                .levelInfor{
                    span{
                        font-size: 16px;
                        line-height: 1.6;
                    }
                    .procBar{
                        .baby{
                            width: 5%;
                            top: 0;
                            left: 3%;
                        }
                        .kid{
                            width: 5%;
                            top: 25%;
                            left: 17%;
                        }
                    }
    
                }
                .description{
                    margin-top: 2%;
                    h4{
                        font-size: 28px;
                    }
                    
                    .specify{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        padding: 20px 10px;
                        .col4{
                            width: 25%;
                            p{
                                font-size: $p;
                            }
                            
                            li{
                                font-size: 18px;
                            }
                        }
                        
                    } 
    
                }
                
            }
            #tab-2{
                .orderList{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    table{
                        width: 44%;
                        tr{
                            th{
                                font-size: 20px;
                            }
                            td{
                                padding-left: 1%;
                                font-size: 18px;
                            }
    
                        }
                        
                    }
                    
                    table:first-child{
                    
                        th{
                            width: 35%;
                            
                        }     
        
                    }
                    table:last-child{
                        th{
                            
                            width: 35%;
                        }
                    }
                }
            }
            #tab-3{
                .collect{
                    p{
                        font-size: $p;
                        font-family: g2Font;
                    }
                }
            }
            #tab-4{
                table{
                    tr:first-child{
                        th{
                            font-size: 25px;
                           }
                           
                    }
                    tr:last-child{
                        td{
                            font-family: g2Font;
                            font-size: 20px;
                           }
                    }
                    
                }
                 
                    
                }

         }


        }
        
        footer{
            
            #floor{
                display: none;
                #copy{
                    text-align: center;
                }
            }
        }
    
    
}

@media screen and(min-width:1200px){
    
    body{
        background-image: url(../images/tina/leftCandy.png),url(../images/tina/rightCandy.png);
        background-repeat: no-repeat;
        background-position: bottom left ,bottom right ;
        background-size: 17% 75%;
    }
    body::before{
        content: '';
        display: block;

    }
    .wrapTabPanel{
        height: 80vh;
        
    }
    
    
    

}


