@import "reset";
@import 'common';
@import "index";

.rankBoard{
    //body
    background-color: #c1f3d2;
    section{
        position: relative;
        padding-bottom: 10vh;
    }


    .mNone{//手機上不顯示的物件
        display: none;
    }
    .title{//標題雲
        width: 260px;//260
        height: 163px;
        position: relative;
        margin: auto;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/images/rankBoard/titleCloud.png");
        h2{
            width: 100%;
            position: absolute;
            top:43%;
            left: 47%;
            transform: translate(-50%, -50%);
            color: #076baf;
            line-height: 1.2;
        }

    }

    @keyframes rollGlow {
        0%{
            transform: rotate(0deg);
            // opacity: 0;
        }
        100%{
            transform: rotate(360deg);
            // opacity: .7;
        }
    }

    @keyframes floating {
        0%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(5px);
        }
    }
    .item{
        &::before{
            content:'';
            display: block;
            width: 200px;
            height: 200px;
            position: absolute;
            z-index: -1;
            top: -47px;
            left: 0;
            right: 0;
            margin: auto;
            background-size: cover;
            background-image: url(/images/rankBoard/glow.png);
            animation: rollGlow 5s  infinite linear;
        }
        min-width: 200px;
        width:23.33%;//252px
        margin: 5vh auto;
        position: relative;
        animation: floating 1s infinite alternate linear;
        &:hover{
            animation-play-state: paused;
        }
        .itemCountry{
            width: 14.29%;
            position: absolute;
            top: 20.5%;
            right: 4.25%;
            border-radius: 100px;
        }
        .itemCtx{
            width: 62.3%;
            height: 55%;
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            display: flex;
            flex-flow: wrap;
            .itemImg{
               width: 90%;
               margin: auto;
                img{
                    width: 100%;
                }
            }
            .itemName{
                line-height: 1.3em;
            }
            .score{
                margin: auto;
                font-size: 38px;
                line-height: .9em;
                color: #e97d58;
                
            }

        }
        .star{
            width: 74.4%;
            position: absolute;
            bottom: 4.6%;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 100px;
            background: linear-gradient(to right, rgb(233,125,88) 85%,rgb(255,255,255)10%);
            img{
                vertical-align: middle;
                width:100%;
                height: 100%;
            }
        }
    }

    .commentBtns {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        // border-bottom: solid 1px #076baf;
        @include btn('like', 28.5%, 30px, #fff, $blue, transparent, 10px, 0px, #fff, $deepblue, 16px);
        @include btn('share', 28.5%, 30px, $blue, #fff, $blue, 10px, 0px, #fff, $blue, 16px);
        @include btn('btnMsg', 28.5%, 30px, #fff, $blue, transparent, 10px , 0px, #fff, $deepblue, 16px);
        
    }
// screen start
    @media screen and (min-width:$moblie) {
        section{
            max-width: 1200px;
            margin: auto;
        }
            .rollingItem{
                display: flex;
                flex-flow: row wrap;
                width: 12%;
                transform: rotate(40deg);
                position: absolute;
                img{
                    width: 100%;
                    height: 75%;
                }
            }
            #roll_1 {
                top: -25%;
                left: -8%;
            }

            #roll_2 {
                top: -25%;
                left: 2%;
            }
            #titleAll{
                margin-right: 0;
    
            }
            .item{
                margin: 0;
            }
            #rank_1{
                position: absolute;
                top: 0;
                left:52%;
            }
    
            #rank_2{
                margin-top: 10%;
                left: 26%;
            }
            #rank_3{
                position: absolute;
                bottom: 0;;
               right: 0;;
            }

            #titleCat{
                margin-left: 0;
            }

            #allPanel{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                font-family: g2Font;
                aside{
                        align-self: center;
                        width: 9.1%;
                        border-radius: 30px;
                        background-color: #fff;
                        overflow: hidden;
                        box-shadow:1px 0px  10px rgba($color: #000, $alpha: .4);
                        font-size: 20px;
                    .switch {
                        width: 100%;
                        padding: 10px 5px;
                        text-align: center;
                        margin: 0 auto;
                        color: #076baf;
                        &:hover {
                            color: #fff;
                            background-color: #076baf;
                        }
                    }
                }
                #rankPanel{
                    width: 31%;
                    height: 0;
                    padding-bottom: 31%; 
                    position: relative;
                    #panelRing {
                        position: absolute;
                        z-index: 0;
                        filter: drop-shadow(2.5px 0 6px rgba(0, 0, 0, 0.4));
                    }
                    .switch{
                        font-size: 26px;
                        color: #076baf;
                        width: 17%;
                        height: 0;
                        padding-bottom: 17%;
                        border-radius: 100px;
                        text-align: center;
                        line-height: 2.5;
                        position: absolute;
                    
                    }
                    .sw_rk{
                        cursor: pointer;
                    }
                    #sw_ring{
                        left: 41.5%;
                        top: 0%;
                        transform: translateY(-50%) rotate(0deg);
                        box-shadow: 0 0 0 4px #076baf;
                        transform-origin:center 345%;
                    }
                    #sw_1{
                        top: 0%;
                        transform: translateY(-50%);
                        left: 41.5%;
                        
                    }
                    #sw_2{
                        top: 16%;
                        left: 85%;
                    }
                    #sw_3{
                        top: 66.5%;
                        left: 85%;
                    }
                    #sw_4{
                        bottom: 0%;
                        left: 41.5%;
                        transform: translateY(50%);
                    }
                    #sw_5{
                        top: 66.5%;
                        right: 85%;
                    }
                    #sw_6{
                        top: 16%;
                        right: 85%;
                    }

                    #ipIcon{
                        width: 100%;
                        height: 0;
                        padding-bottom: 100%;
                        position: relative;
                        img{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            margin: auto;
                        }
                        #ipImg{
                            width: 44.5%;
                            z-index: 2;
                            animation: floating 1s infinite alternate linear;
                        }
                        #glow{
                            width: 100%;
                            z-index: 0;
                        }
                    }
                }

                .itemDetail{
                    width: 45%;
                    height: 90vh;
                    overflow-x: hidden;
                    overflow-y:auto; 
                    background-color: #fff;
                    border-radius: 40px;
                    .blank{
                        padding: 5%;
                        text-align: center;
                    }
                    .itemImg{
                        width: 50%;
                    }                
                    h2{
                        padding: 10px 0 ;
                        line-height: 30px;
                      p{
                          font-size: 22px;
                          line-height: 30px;
                      }  
                    }
                    .rank{
                        
                        margin:12.5px 0;
                        padding:5.5px 0 ; 
                        border-radius: 10px; 
                        color: #fff;
                        letter-spacing: 2.8px;
                    }
                    #allRank{
                        background-color: #ea5a5a;
                    }
                    #catRank{
                        background-color: #00b96d;
                    }
                    #flaRank{
                        background-color: #5cb3ff;
                    }

                    .itemBtns{
                        margin: 25px 0;
                        display: flex;
                        justify-content: space-around;
                    }

                    .eva{
                        display: flex;
                        justify-content: space-around;
                        .score,.radar{
                            width: 50%;
                        }
                        .evaTimes{
                            text-align: center;
                            font-size: 16px;
                            color: #076baf;

                        }
                        .scoreAvg{
                            font-size: 64px;
                            color: #e97d58;
                        }
                        .star{
                            width: 68.15%;
                            border-radius: 100px;
                            background: linear-gradient(to right, rgb(233, 125, 88) 85%, rgb(255, 255, 255)10%);
                            margin: auto;
                            img {
                                vertical-align: middle;
                                width: 100%;
                                height: 100%;

                            }
                        }
                    }

                    .comments{
                        text-align: left;
                        h3{
                            padding: 15px 0 0 0;
                            color: #076baf;
                        }
                        .mem{
                            display: flex;
                            padding-bottom: 17.5px;
                            .memPic{
                                width: 49.63%;
                                position: relative;
                                z-index: 2;
                            }
                            .memCol{
                                margin-left: 10px;
                                .star{
                                    margin: 7px 0 0 0;
                                    width: 39.877%;
                                    transform: translate(-11% ,0);
                                    border-radius: 100px;
                                    background: linear-gradient(to right, rgb(233, 125, 88) 100%, rgb(255, 255, 255)10%);
                                    img{
                                        vertical-align: middle;
                                        height: 100%;
                                    }
                                }
                                .commentCtx{
                                    color: #737374;
                            
                                }
                                .msgBox{
                                    width: 100%;
                                    display: flex;
                                    margin: 10px 0 ;
                                    .msg{
                                        width: 80%;
                                        height: 30px;
                                        border: solid 1px #076baf;
                                        border-radius: 7px;
                                    }
                                    .sendMsg{
                                        width: 20%;
                                        height: 30px;
                                        color: #fff;
                                        background-color: $blue;
                                        border: 2px solid $blue;
                                        position: relative;
                                        border-radius: 10px;
                                        font-family: g2Font;
                                        text-align: center;
                                    }
                                }
                                .msg_num{
                                    display: flex;
                                    padding:17.5px 0 ; 
                                    border-bottom: #076baf solid 1px;
                                    .memPic{
                                        width: 14.77%;
                                    }
                                    .memId{
                                        padding: 17.5px 0;
                                    }
                                    .msgCol{
                                        margin-left: 10px;
                                        .msgCtx{
                                            color: #737374;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }  
            }
    }


}

