@import 'common';

    
    #visual {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    //視覺化的長條圖柱子
    .plotBlock {
        flex: 1;
        // outline: 1px solid #000;
        border: 1px solid #000;
    }

    //樣是我先隨便生一個醜的，按鈕請自己修改XD
    //錄音鈕 / 停止鈕 二合一
    .recordBtn{
        width: 60px;
        height: 60px;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        background-color: #fbc84a;
        position: relative;
        cursor: pointer;
        &:hover{
            color:$blue;
        }
        &.recording{
            color:$coral;
        }

        // //這是中間那顆方塊，可以利用background之類的換圖
        // //我先隨便寫個色塊
        // &::before{
        //     content:"";
        //     display: block;
        //     width: 25px;
        //     height: 25px;
        //     background-color: #076baf;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     margin: auto;
        //     transition: 0.3s;
        // }
        // &.recording::before{
        //     background-color: #af0715;
        // }
    }


    //撥放介面樣式-----------開始
    //播放條寬度
    $defBarWidth:350px * 0.8;
    //撥放條高度
    $defBarHeight:10px;
    //撥放拉桿寬度
    $barNoteWidth:10px;
    //撥放拉桿高度
    $barNoteHeight:30px;
    //播放條整包
    .defBar{
        width:$defBarWidth ;
        height:$defBarHeight ;
        //播放條背景色
        background-color: #fbc84a;
        //給拉桿定位用
        position: relative;
        cursor: pointer;
        &:hover .proBar,
        &:hover .barNote{
            background-color: $deepblue;
        }
        //進度條
        .proBar{
            //寬度隨播放進度變化
            width: 0%;
            //高度繼承播放條就好
            height: inherit;
            //撥放時的進度條顏色
            background-color: #076baf;
            cursor: pointer;
            // transition:  0.1s linear;
        }
        //拉桿
        .barNote{
            width: $barNoteWidth;
            height: $barNoteHeight;
            // width: 0;
            // height: 0px;
            background-color: #076baf;
            position: absolute;
            //用公式置中這樣
            top: -($barNoteHeight/2) + ($defBarHeight/2) ;
            left:0%; //隨撥放時間移動
            // transform: translateX(-50%); //使用上好像沒有很在意位置的精準度
            cursor: pointer;
            // transition: 0.1s linear;
        }
    }


    //音量條寬度
    $volBarWidth:50px;
    //音量條高度
    $volBarHeight:5px;
    //音量拉桿寬度
    $vol_barNoteWidth:15px;
    //音量拉桿高度
    $vol_barNoteHeight:15px;
    //音量條整包
    .volBar{
        width:$volBarWidth ;
        height:$volBarHeight ;
        //播放條背景色
        background-color: #fbc84a;
        //給拉桿定位用
        position: relative;
        cursor: pointer;
        &:hover .vol_proBar,
        &:hover .vol_barNote{
            background-color: #fff;
        }

        //三角形風格
        // clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
        //進度條
        .vol_proBar{
            //寬度隨音量調整變化，html5音量預設是 1 ，所以我們寬度也設100%
            width: 100%;
            //高度繼承音量條就好
            height: inherit;
            //音量調整bar的顏色
            background-color: #076baf;
            cursor: pointer;
        }
        //拉桿
        .vol_barNote{
            width: $vol_barNoteWidth;
            height: $vol_barNoteHeight;
            background-color: #076baf;
            position: absolute;
            //用公式置中這樣
            top: -($vol_barNoteHeight/2) + ($volBarHeight/2) ;
            left:100%; //隨音量時間移動，html5音量預設是1，所以我們left也設100%
            transform: translateX(-50%);
            cursor: pointer;
            border-radius: 50%;
        }
    }
    .au_btn{
        cursor: pointer;
    }
    //撥放介面元件樣式-----------結束


    //撥放介面結構樣式----------------------開始
    #audioItem{
        width: 350px;
        height: 300px;
        // background-color: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .au_btns{
            width: 80%;
            height: 50px;
            background-color: $yellow;
            border: 7px solid $blue;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .au_btn, .trash {
                width: 25px;
                height: 25px;
                color: $blue;
                background-color: transparent;
                border: unset;
                border-radius: 10px;
                padding: 0px;
                text-align: center;
                font-size: 22px;
                cursor: pointer;
                @media only screen and (min-width: $moblie) {
                &:hover {
                        // background-color: $blue;
                        color: #fff;
                    }
                }
            }
        }
        .au_ctrl{
            .defBar{
                margin-bottom: 25px;
            }
            .au_time{
                width: 100%;
                text-align: right;
                span{color: $blue;}
            }
        }
    }
    //撥放介面結構樣式----------------------結束