@import "reset";
@import 'common';


#showItem{
    background-color: #fcda85;
    #item{
        display: flex;
        border-radius: 100px;
        margin: 50px auto;
        .itemCol{
            width: 50%;
            padding: 15px;
            text-align: center;
            .itemImg{
                width: 65%;
            }
            .rank{
                font-family:g2Font;
                margin:12.5px 0;
                padding:5.5px 0 ; 
                border-radius: 10px; 
                color: #fff;
                letter-spacing: 2.8px;
            }
            #allRank{
                background-color: #ea5a5a;
            }
            #catRank{
                background-color: #00b96d;
            }
            #flaRank{
                background-color: #5cb3ff;
            }

            #rankGrid{
                display: flex;
                flex-flow: wrap;
                .col{
                    width: 50%;
                    padding: 5px 0;
                    .crown{
                        width: 80%;
                        vertical-align: middle;
                    }
                    p{
                        font-size: 24px;
                        font-family: g2font;
                    }
                }
                .score{
                    #rate{
                        width: 68.15%;
                    }
                    .evaTimes{
                        text-align: center;
                        font-size: 16px;
                        color: #076baf;

                    }
                    .scoreAvg{
                        font-size: 64px;
                        color: #e97d58;
                    }
                    .star{
                        width: 68.15%;
                        border-radius: 100px;
                        background: linear-gradient(to right, rgb(233, 125, 88) 85%, rgb(255, 255, 255)10%);
                        margin: auto;
                        img {
                            vertical-align: middle;
                            width: 100%;

                        }
                    }
                }

                .stars{
                    display: flex;
                    flex-flow: wrap row;
                    justify-content: space-around;
                    align-items: center;
                     p{
                         display: flex;
                         line-height: 1.2;
                         
                         img{
                             vertical-align: middle;
                         }
                         .star{
                            border-radius: 100px;
                         }
                         #sweet{
                            background: linear-gradient(to right, rgb(233,125,88) 85%,rgb(255,255,255)10%);
                         }
                         #sour{
                            background: linear-gradient(to right, rgb(233,125,88) 75%,rgb(255,255,255)10%);
                         }
                         #spicy{
                            background: linear-gradient(to right, rgb(233,125,88) 0%,rgb(255,255,255)0%);
                         }
                     }
                }
                
            }
        }
        .rightCol{
            text-align: left;
            h2{
                letter-spacing: 5px;
                padding: 10px 0 ;
            }
            p{
                font-size: 20px;
                line-height: 1.8em;
                color: #737374;
                padding: 8px 0;
            }
            #price{
                padding: 10px 0;
                span{
                    margin-left: 9.5%;
                    font-size: 36px;
                    color: #076baf;
                }
            }
            #itemNum{
                padding: 10px 0 ;
                display: flex;
                flex-flow: nowrap;
                justify-content: space-between;
                .numInput{
                    margin: 0;;
                }
            }
            #ingre,#loc{
                font-size: 20px;
            }
            #ingre{
                margin-left: 8%;
            }
            #loc{
                margin-left: 4%;
            }
        }
    }
    #comment{
        border-radius: 100px;
        margin: 50px auto;
        .comments{
            margin: 10px 55px;
        }
        h3{
            font-size: 34px;
            color: #076baf;
        }
        .mem{
            display: flex;
            padding-bottom: 17.5px;
            .memPic{
                width: 9.33%;
                position: relative;
                z-index: 2;
            }
            .memCol{
                margin-left: 10px;
                .star{
                    margin: 7px 0 0 0;
                    width: 16.45%;
                    transform: translate(-11% ,0);
                    border-radius: 100px;
                    background: linear-gradient(to right, rgb(233, 125, 88) 100%, rgb(255, 255, 255)10%);
                    img{
                        vertical-align: middle;
                    }
                }
                .commentCtx{
                    font-family: g2Font;
                    padding: 10px 0 ;
                }

                .msg_num{
                    display: flex;
                    padding:17.5px 0 ; 
                    border-bottom: #076baf solid 1px;
                    .memPic{
                        width: 6.07%;
                    }
                    .memId{
                        padding: 17.5px 0;
                    }
                    .msgCol{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .commentBtns {
        display: flex;
        padding-top: 10px;
        border-bottom: solid 1px #076baf;
        @include btn('like', 28.5%, 30px, #fff, $blue, transparent, 10px 0 0 0, 0px, #fff, $deepblue, 16px);
        @include btn('share', 28.5%, 30px, $blue, #fff, $blue, 0px, 0px, #fff, $blue, 16px);
        @include btn('btnMsg', 28.5%, 30px, #fff, $blue, transparent, 0 10px 0 0, 0px, #fff, $deepblue, 16px);

    }
// screen start
    @media screen and (min-width:$moblie) {
        section{
            max-width: 1200px;
            margin: auto;
            background-color: #fff;
            padding:20px ;

        }
 


                }      

}



            


